.size {
    border: 2px solid rgb(4, 4, 47);
    background-color: rgb(242, 243, 244);
    height: 3000px;
    margin: 2.5px;
}

h1 {
    margin: 5px;
    background-color: rgb(6, 35, 42);
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 5px;
    text-shadow: 5px 5px 5px rgb(151, 151, 181);
}

p {
    margin-top: 15px;
    font-size: 20px;
    margin-bottom: 25px;
    margin-right: 15px;
    margin-left: 15px;
    font-weight: 500;
}

.example {
    text-align: center;
    background-repeat: no-repeat;
    margin: auto;
    border: 5px ridge rgb(143, 216, 233);
}

b {
    font-size: 25px;
}

.image1 {
    display: flex;
    border: 3px solid rgb(4, 4, 47);
    width: 800px;
    height: 400px;
    margin: auto;
}

#img1 {    
    width: 300px;
    height: 300px;
    background-image: url('https://tse2.mm.bing.net/th?id=OIP.W0blSXpAEFBO1G8DTmfnswHaEK&pid=Api&P=0&h=180');
    background-size: 100% 100%;
    line-height: 300px;
}


#img2 {
    width: 300px;
    height: 300px;
    background-image: url('https://tse2.mm.bing.net/th?id=OIP.W0blSXpAEFBO1G8DTmfnswHaEK&pid=Api&P=0&h=180');
    background-size: 75% 75%;
    line-height: 300px;
}

b:hover{    
    font-size: 35px;
}

#img1:hover {
    height: 350px;
    width: 350px;
}

#img2:hover {
    height: 350px;
    width: 350px;
}

#img3 {    
    width: 700px;
    height: 300px;
    background-image: url('../../../image/bg-3.gif');
    background-size: cover;
}

#img3:hover {
    height: 350px;
    width: 750px;
}

#img4 {    
    width: 400px;
    height: 300px;
    background-image: url('../../../image/bg-5.gif');
    background-size: contain;
    border: 5px ridge rgb(233, 143, 143);
}

#img4:hover {
    height: 350px;
    width: 450px;
}

#img5 {    
    width: 700px;
    height: 400px;
    background-image: url(../../../image/slider-5.gif) , url('../../../image/cartoon-1.webp') ;
    background-size: contain , cover;
}

#img5:hover {
    height: 450px;
    width: 750px;
}