/* .header-container .header-menu .header-upMenu .header-listMenu ul li:nth-child(4) a {
    background-color: black;
    border-radius: 5px;
} */

/* main section start */
.content-container {
    height: auto;
    width: 80%;
    margin: auto;
    display: flex;
}


.content-container .content-section1 {
    height: auto;
    width: 40%;
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(1fr, auto);
    grid-template-columns: repeat(1fr, auto);
    background-color: #f4f4f4;
}


.content-container .content-section1 .grid-section {
    height: auto;
    width: auto;
    margin: 5px;
}

.content-container .content-section1 .title-form {
    grid-area: 1 / 1 / 2 / 12;
}

.content-container .content-section1 .title-form p {
    text-align: center;
    font-style: italic;
    font-size: 30px;
    color: #3c4046;
    padding: 5px;
}

.content-container .content-section1 .form {
    grid-area: 2 / 1 /7 / 12;
}

.content-container .content-section1 .form .section {
    height: auto;
    width: 90%;
    margin: auto;
    padding: 10px;
}

.content-container .content-section1 .form .radio-section .radio-btn {
    height: auto;
    width: 90%;
    display: flex;
    margin: auto;
}

.content-container .content-section1 .form .radio-section .radio-btn .radio {
    height: auto;
    width: 45%;
    margin: auto;
}

.content-container .content-section1 .form .radio-section .radio-btn .radio label{
    font-size: 16px;
    font-weight: 500;
}

.content-container .content-section1 .form .radio-section .radio-btn .radio input {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3c4046;
}

.content-container .content-section1 .form .section .label,
.input {
    height: auto;
    width: 90%;
    margin: 2px auto;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3c4046;
}

.content-container .content-section1 .form .section .input input {
    height: auto;
    width: 90%;
    padding: 5px;
    margin: auto;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3c4046;
    border: 1px solid #666769;
}

.content-container .content-section1 .form .date-section .label,
.input {
    height: auto;
    width: 90%;
    margin: auto;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3c4046;
}

.content-container .content-section1 .form .date-section .input input {
    height: auto;
    width: auto;
    padding: 5px;
    margin: auto;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3c4046;
    border: 1px solid #666769;
}

.content-container .content-section1 .form .passenger-section .passenger {
    height: auto;
    width: 100%;
    margin: auto;
    display: flex;
}

.content-container .content-section1 .form .passenger-section .passenger .noPassenger {
    height: auto;
    width: 65%;
    margin: auto;
}

.content-container .content-section1 .form .passenger-section .passenger .goBtn {
    height: auto;
    width: 30%;
    margin: auto;
    background-image: linear-gradient(#6ea6bb, #59a5bd, #3a8fb4, #257b9a);
}

.content-container .content-section1 .form .passenger-section .passenger .goBtn button {
    height: auto;
    width: 100%;
    margin: 10px auto;
    padding: 10px 5px;
    border: none;
    background: transparent;
}

.content-container .content-section1 .form .passenger-section .passenger .goBtn:hover {
    background-image: linear-gradient(to top, #6ea6bb, #59a5bd, #3a8fb4, #257b9a);
}


.content-container .content-section1 .form .passenger-section .passenger .goBtn button a {
    text-decoration: none;
    color: white;
    font-style: italic;
    font-weight: 600;
}

.content-container .content-section1 .charter {
    grid-area: 7 / 1 / 11 / 12;
    height: auto;
    width: 90%;
    margin:auto;
    padding: 2%;
}

.content-container .content-section1 .charter h1 {
    text-align: center;
    font-style: italic;
    font-weight: 400;
    font-size: 35px;
    color: #464646;
}

.content-container .content-section1 .charter .charter-list {
    height: auto;
    width: 90%;
    margin: auto;
    padding: 5%;
}

.content-container .content-section1 .charter .charter-list ul {
    height: auto;
    width: auto;
}

.content-container .content-section1 .charter .charter-list ul li {
    color: #257b9a;
    padding-top: 5px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.content-container .content-section1 .charter .charter-list ul li a {
    color: #257b9a;
}

.content-container .content-section1 .charter .charter-list ul li a:hover {
    text-decoration: none;
}

.content-container .content-section1 .charter .charter-button {
    height: auto;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
}

.content-container .content-section1 .charter .charter-button button {
    background-image: linear-gradient(to top, #6ea6bb, #59a5bd, #3a8fb4, #257b9a);
    border: none;
    padding: 10px 30px;
    border-radius: 3px;
}

.content-container .content-section1 .charter .charter-button button:hover {
    background-image: linear-gradient(to bottom, #6ea6bb, #59a5bd, #3a8fb4, #257b9a);

}

.content-container .content-section1 .charter .charter-button button a {
    color: white;
    text-decoration: none;
}

.content-container .content-section2 {
    height: auto;
    width: 60%;
    margin: auto;
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(1fr, auto);
    grid-template-columns: repeat(1fr, auto);
}

.content-container .content-section2 .charter-section {
    height: auto;
    width: auto;
}

.content-container .content-section2 .service-section {
    grid-area: 1 / 1 / 7 / 12;
    height: auto;
    width: auto;
    padding: 10px;
}

.content-container .content-section2 .charter-section h2 {
    font-style: italic;
    font-weight: 400;
    margin-bottom: 2%;
    padding: 0px 40px;
    font-size: 28px;
    color: #3c4046;
    line-height: 38px;
    letter-spacing: -1px;
}

.content-container .content-section2 .service-section .service-part {
    height: auto;
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
}

.content-container .content-section2 .service-section .service-part .service-img {
    height: auto;
    width: 35%;
    margin: auto;
    padding: 5px;
}

.content-container .content-section2 .service-section .service-part .service-content {
    height: auto;
    width: 60%;
    margin: auto;
    padding: 10px;
}

.content-container .content-section2 .service-section .service-part .service-content p {
    color: #3e3e3e;
    padding: 5px;
    font-size: 18px;
}

.content-container .content-section2 .service-section .service-part .service-content .service-items {
    height: auto;
    width: auto;
    margin-top: 3%;
    margin-left: 5%;
}

.content-container .content-section2 .service-section .service-part .service-content .service-items li {
    color: #257b9a;
    padding: 5px;
}

.content-container .content-section2 .service-section .service-part .service-content .service-items li a {
    color: #257b9a;
    font-size: 16px;
}

.content-container .content-section2 .service-section .service-part .service-content .service-items li a:hover {
    text-decoration: none;
}

.content-container .content-section2 .service-section .service-info {
    height: auto;
    width: 85%;
    margin: 3% auto;
}

.content-container .content-section2 .service-section .service-info p{
    color: #3e3e3e;
    font-size: 18px;
}

.content-container .content-section2 .service-section .charter-service-button {
    height: auto;
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}

.content-container .content-section2 .service-section .charter-service-button button{
    background-image: linear-gradient(to top ,black, #3f4041);
    border: none;
    padding: 10px 30px;
    border-radius: 3px
}

.content-container .content-section2 .service-section .charter-service-button button:hover{
    background-image: linear-gradient(to bottom ,black, #3f4041);

}

.content-container .content-section2 .service-section .charter-service-button button a{
    color: white;
    text-decoration: none;
    font-style: italic;
    text-transform: uppercase;
    font-size: 16px;
}

.content-container .content-section2 .charter-part {
    grid-area: 8 / 1 / 12 / 12;
    width: 90%;
    height: auto;
    margin: auto;
    padding: 5px;
}

.content-container .content-section2 .charter-part .aircraft-container{
    height: auto;
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
}

.content-container .content-section2 .charter-part .aircraft-container .charter-img{
    height: auto;
    width: 35%;
    margin: auto;
    padding: 5px;
}

.content-container .content-section2 .charter-part .aircraft-container .charter-content{
    height: auto;
    width: 60%;
    margin: auto;
    padding: 10px;
}

.content-container .content-section2 .charter-part .aircraft-container .charter-content p{
    color: #37373a;
    font-size: 18px;
    word-spacing: 2px;
}

.content-container .content-section2 .charter-part .charter-info{
    height: auto;
    width: 85%;
    margin: 2% auto;
}

.content-container .content-section2 .charter-part .charter-info p{
    color: #37373a;
    font-size: 18px;
    word-spacing: 2px;
}


/* main section end */