/* .header-container .header-menu .header-upMenu .header-listMenu ul li:nth-child(5) a {
    background-color: black;
    border-radius: 5px;
} */

/* main section start */

.contact-container{
    height: auto;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
}

.contact-container .contact-section1{
    height: auto;
    width: 35%;
    margin: auto;
    padding: 30px 20px;
    background-color: #f4f4f4;
}

.contact-container .contact-section1 .contact-us-part{
    height: auto;
    width: 90%;
    margin: 5px auto;
}

.contact-container .contact-section1 .contact-us-part h2{
    font-style: italic;
    font-weight: 400;
    margin-bottom: 2%;
    padding: 0px 40px;
    font-size: 28px;
    color: #3c4046;
    line-height: 38px;
    letter-spacing: -1px;
}

.contact-container .contact-section1 .contact-us-part .contact-us-container{
    height: auto;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap:nowrap;
}

.contact-container .contact-section1 .contact-us-part .contact-us-container .contact-us-box{
    height: auto;
    width: 50%;
    margin: auto;
    padding: 10px;
}

.contact-container .contact-section1 .contact-us-part .contact-us-container .contact-us-box li{
    list-style: none;
    color: #3c4046;
    padding-top: 5px;
    font-size: 18px;
    margin: 2%;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-container .contact-section1 .contact-us-part .contact-us-container .contact-us-box li a{
    color: #1e749a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.contact-container .contact-section1 .Miscellaneous-info-part{
    height: auto;
    width: 90%;
    margin: auto;
    margin-top: 2%;
}

.contact-container .contact-section1 .Miscellaneous-info-part h2{
    font-style: italic;
    font-weight: 400;
    margin-bottom: 2%;
    padding: 0px 40px;
    font-size: 28px;
    color: #3c4046;
    line-height: 38px;
    letter-spacing: -1px;
}

.contact-container .contact-section1 .Miscellaneous-info-part p{
    color: #3e3e3e;
    width: 80%;
    margin: auto; 
    font-size: 18px;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;   
}

.contact-container .contact-section2{
    height: auto;
    width: 65%;
    margin: auto;
    padding: 30px 20px;
}

.contact-container .contact-section2 .contact-form{
    height: auto;
    width: 90%;
    margin: auto;
}

.contact-container .contact-section2 .contact-form h2{
    font-style: italic;
    font-weight: 400;
    margin-bottom: 2%;
    padding: 0px 40px;
    font-size: 28px;
    color: #3c4046;
    line-height: 38px;
    letter-spacing: -1px;
}

.contact-container .contact-section2 .contact-form .form-part{
    height: auto;
    width: 90%;
    margin: 5px auto;
    display: flex;
    flex-wrap: nowrap;
}

.contact-container .contact-section2 .contact-form .form-part .form-label{
    height: auto;
    width: 35%;
    margin: auto;
    padding: 10px;
}

.contact-container .contact-section2 .contact-form .form-part .form-label label{
    color: #3c4046;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif; 
}

.contact-container .contact-section2 .contact-form .form-part .form-input{
    height: auto;
    width: 65%;
    margin: auto;
    padding: 5px;
    background-color: #f8f8f8;
    border-top: 1px solid #c6c6c6;
    border-left: 1px solid #c6c6c6;
}

.contact-container .contact-section2 .contact-form .form-part .form-input input , textarea{
    height: auto;
    width: 100%;
    color: #9d9fa2;
    border: none;
    font-family: Arial, Helvetica, sans-serif; 
    background-color: transparent;
}

.contact-container .contact-section2 .contact-form .form-part .form-input input:focus , textarea:focus{
    border: none;
    outline: none;
}

.contact-container .contact-section2 .contact-form .form-part .form-button{
    height: auto;
    width: 90%;
    margin: 5px auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}

.contact-container .contact-section2 .contact-form .form-part .form-button button{
    height: auto;
    width: auto;
    padding: 10px 40px;
    color: white;
    background-image: linear-gradient(to top ,black, #4a4c4d);
    border: none;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 2px;
    margin: auto 5px;
}

.contact-container .contact-section2 .contact-form .form-part .form-button button:hover{
    background-image: linear-gradient(to bottom ,black, #4a4c4d);
}

/* main section end */
