/* main section start */
.content-container {
    height: auto;
    width: 80%;
    margin: auto;
    display: flex;
}

.content-container .content-section1 {
    height: auto;
    width: 40%;
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(1fr, auto);
    grid-template-columns: repeat(1fr, auto);
    background-color: #f4f4f4;
}


.content-container .content-section1 .grid-section {
    height: auto;
    width: auto;
    margin: 5px;
}

.content-container .content-section1 .title-form {
    grid-area: 1 / 1 / 2 / 12;
}

.content-container .content-section1 .title-form p {
    text-align: center;
    font-style: italic;
    padding: 5px;
    font-size: 28px;
    color: #3c4046;
    line-height: 38px;
    font-weight: 400;
    letter-spacing: -1px;
}

.content-container .content-section1 .form {
    grid-area: 2 / 1 /7 / 12;
}

.content-container .content-section1 .form .section {
    height: auto;
    width: 90%;
    margin: auto;
    padding: 10px;
}

.content-container .content-section1 .form .radio-section .radio-btn {
    height: auto;
    width: 90%;
    display: flex;
    margin: auto;
}

.content-container .content-section1 .form .radio-section .radio-btn .radio {
    height: auto;
    width: 45%;
    margin: auto;
}

.content-container .content-section1 .form .radio-section .radio-btn .radio label{
    font-size: 16px;
    font-weight: 500;
}

.content-container .content-section1 .form .radio-section .radio-btn .radio input {
    font-size: 16px;
    color: #3c4046;
}

.content-container .content-section1 .form .section .label,
.input {
    height: auto;
    width: 90%;
    margin: 2px auto;
    font-size: 18px;
    color: #3c4046;
}

.content-container .content-section1 .form .section .input input {
    height: auto;
    width: 90%;
    padding: 5px;
    margin: auto;
    font-size: 18px;
    color: #3c4046;
    border: 1px solid #666769;
}

.content-container .content-section1 .form .date-section .label,
.input {
    height: auto;
    width: 90%;
    margin: auto;
    font-size: 18px;
    color: #3c4046;
}

.content-container .content-section1 .form .date-section .input input {
    height: auto;
    width: auto;
    padding: 5px;
    margin: auto;
    font-size: 18px;
    color: #3c4046;
    border: 1px solid #666769;
}

.content-container .content-section1 .form .passenger-section .passenger {
    height: auto;
    width: 100%;
    margin: auto;
    display: flex;
}

.content-container .content-section1 .form .passenger-section .passenger .noPassenger {
    height: auto;
    width: 65%;
    margin: auto;
}

.content-container .content-section1 .form .passenger-section .passenger .goBtn {
    height: auto;
    width: 30%;
    margin: auto;
    background-image: linear-gradient(#6ea6bb, #59a5bd, #3a8fb4, #257b9a);
}

.content-container .content-section1 .form .passenger-section .passenger .goBtn button {
    height: auto;
    width: 100%;
    margin: 10px auto;
    padding: 10px 5px;
    border: none;
    background: transparent;
    border-radius: 3px;
}

.content-container .content-section1 .form .passenger-section .passenger .goBtn:hover {
    background-image: linear-gradient(to top, #6ea6bb, #59a5bd, #3a8fb4, #257b9a);
}


.content-container .content-section1 .form .passenger-section .passenger .goBtn button a {
    text-decoration: none;
    color: white;
    font-style: italic;
    font-weight: 600;
}

.content-container .content-section1 .reviews {
    grid-area: 7 / 1 / 11 / 12;
    height: auto;
    width: 90%;
    margin: auto;
}

.content-container .content-section1 .reviews h1 {
    text-align: center;
    font-style: italic;
    font-weight: 400;
    font-size: 35px;
    color: #464646;
}

.content-container .content-section1 .reviews .news {
    height: auto;
    width: 90%;
    margin: auto;
    padding: 5%;
    border-bottom: 1px solid #e1e1e1;
}

.content-container .content-section1 .reviews .news p {
    color: #1e749a;
}

.content-container .content-section1 .reviews .news span {
    color: #3c4046;
}

.content-container .content-section2 {
    height: auto;
    width: 60%;
    margin: auto;
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(1fr, auto);
    grid-template-columns: repeat(1fr, auto);
}

.content-container .content-section2 .home-section {
    height: auto;
    width: auto;
}

.content-container .content-section2 .welcome-section {
    grid-area: 1 / 1 / 6 / 12;
    height: auto;
    width: auto;
    padding: 10px;
}

.content-container .content-section2 .welcome-section h2 {
    font-style: italic;
    color: #3c4046;
    font-weight: 400;
    margin-bottom: 2%;
    letter-spacing: -1px;
    padding: 0px 40px;
}

.content-container .content-section2 .welcome-section p {
    color: #1e749a;
    font-size: 20px;
    line-height: 25px;
    padding: 0px 40px;
}

.content-container .content-section2 .welcome-section .home-content {
    height: auto;
    width: auto;
    margin: 2% auto;
    padding: 5px;
}

.content-container .content-section2 .welcome-section .home-content ul {
    height: auto;
    width: 85%;
    margin: auto;
}

.content-container .content-section2 .welcome-section .home-content ul li {
    font-size: 22px;
    padding: 3px;
    word-spacing: 5px;
    color: #1e749a;
}

.content-container .content-section2 .welcome-section .home-content ul li a{
    color: #3c4046;
    text-decoration: none;
}

.content-container .content-section2 .welcome-section .home-content p {
    font-size: 16px;
    color: #3c4046;
    padding: 0px 60px;
    font-weight: 500;
}

.content-container .content-section2 .welcome-section .home-content .home-content-btn{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
}

.content-container .content-section2 .welcome-section .home-content .home-content-btn .btn{
    height: auto;
    width: auto;
}

.content-container .content-section2 .welcome-section .home-content .home-content-btn .btn button{
    background-image: linear-gradient(black, #333435);
    border: none;
    padding: 10px;
}

.content-container .content-section2 .welcome-section .home-content .home-content-btn .btn .fleet-btn {
    background-image: linear-gradient(#59a6bd, #3a8fb4, #257b9a, #1e749a);
}

.content-container .content-section2 .welcome-section .home-content .home-content-btn .btn button a{
    text-decoration: none;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
}

.content-container .content-section2 .client-section {
    grid-area: 7 / 1 / 12 / 12;
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    padding: 5px;
}

.content-container .content-section2 .client-section .client-part-1 {
    height: auto;
    width: 50%;
    margin: auto;
}

.content-container .content-section2 .client-section .client-part-1 h2 {
    height: auto;
    color: #3c4046;
    line-height: 40px;
    font-size: 40px;
    font-weight: 500;
    padding: 10px;
    font-style: italic;
}

.content-container .content-section2 .client-section .client-part-1 p {
    height: auto;
    color: #3c4046;
    padding: 5px;
    line-height: 25px;
    margin: 5px;
    font-size: 18px;
    word-spacing: 3px;
}

.content-container .content-section2 .client-section .client-part-1 p a {
    color: #1e749a;
}

.content-container .content-section2 .client-section .client-part-2 {
    height: auto;
    width: 35%;
    margin: auto;
    background-image: linear-gradient(#59a6bd, #3a8fb4, #257b9a, #1e749a);
}

.content-container .content-section2 .client-section .client-part-2 .quote{
    height: 220px;
    width: auto;
    padding: 20px;
    margin: auto;
    position: relative;
}

.content-container .content-section2 .client-section .client-part-2 .quote img{
    position: absolute;
    top: 4%;
    left: 5%;
}

.content-container .content-section2 .client-section .client-part-2 .quote .quote-content{
    height: auto;
    width: 80%;
    margin: auto;
    position: absolute;
    top: 10%;
    left: 5%;
}

.content-container .content-section2 .client-section .client-part-2 .quote .quote-content p{
    color: white;
    font-size: 15px;
    line-height: 20px;
}

.content-container .content-section2 .client-section .client-part-2 .quote .quote-content p span{
    display: block;
    text-align: end;
    padding-top: 10px;
}

/* main section end */
