/* .header-container .header-menu .header-upMenu .header-listMenu ul li:nth-child(3) a {
    background-color: black;
    border-radius: 5px;
} */

/* main section start */
.content-container {
    height: auto;
    width: 80%;
    margin: auto;
    display: flex;
}


.content-container .content-section1 {
    height: auto;
    width: 40%;
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(1fr, auto);
    grid-template-columns: repeat(1fr, auto);
    background-color: #f4f4f4;
}


.content-container .content-section1 .grid-section {
    height: auto;
    width: auto;
    margin: 5px;
}

.content-container .content-section1 .title-form {
    grid-area: 1 / 1 / 2 / 12;
}

.content-container .content-section1 .title-form p {
    text-align: center;
    font-style: italic;
    font-size: 30px;
    color: #3c4046;
    padding: 5px;
}

.content-container .content-section1 .form {
    grid-area: 2 / 1 /7 / 12;
}

.content-container .content-section1 .form .section {
    height: auto;
    width: 90%;
    margin: auto;
    padding: 10px;
}

.content-container .content-section1 .form .radio-section .radio-btn {
    height: auto;
    width: 90%;
    display: flex;
    margin: auto;
}

.content-container .content-section1 .form .radio-section .radio-btn .radio {
    height: auto;
    width: 45%;
    margin: auto;
}

.content-container .content-section1 .form .radio-section .radio-btn .radio input {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3c4046;
}

.content-container .content-section1 .form .section .label,
.input {
    height: auto;
    width: 90%;
    margin: 2px auto;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3c4046;
}

.content-container .content-section1 .form .section .input input {
    height: auto;
    width: 90%;
    padding: 5px;
    margin: auto;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3c4046;
    border: 1px solid #666769;
}

.content-container .content-section1 .form .date-section .label,
.input {
    height: auto;
    width: 90%;
    margin: auto;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3c4046;
}

.content-container .content-section1 .form .date-section .input input {
    height: auto;
    width: auto;
    padding: 5px;
    margin: auto;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3c4046;
    border: 1px solid #666769;
}

.content-container .content-section1 .form .passenger-section .passenger {
    height: auto;
    width: 100%;
    margin: auto;
    display: flex;
}

.content-container .content-section1 .form .passenger-section .passenger .noPassenger {
    height: auto;
    width: 65%;
    margin: auto;
}

.content-container .content-section1 .form .passenger-section .passenger .goBtn {
    height: auto;
    width: 30%;
    margin: auto;
    background-image: linear-gradient(#6ea6bb, #59a5bd, #3a8fb4, #257b9a);
}

.content-container .content-section1 .form .passenger-section .passenger .goBtn button {
    height: auto;
    width: 100%;
    margin: 10px auto;
    padding: 10px 5px;
    border: none;
    background: transparent;
}

.content-container .content-section1 .form .passenger-section .passenger .goBtn:hover {
    background-image: linear-gradient(to top, #6ea6bb, #59a5bd, #3a8fb4, #257b9a);
}


.content-container .content-section1 .form .passenger-section .passenger .goBtn button a {
    text-decoration: none;
    color: white;
    font-style: italic;
    font-weight: 600;
}

.content-container .content-section1 .safety-part {
    grid-area: 7 / 1 / 11 / 12;
    height: auto;
    width: 90%;
    margin: 5px auto;
}

.content-container .content-section1 .safety-part h1 {
    text-align: center;
    font-style: italic;
    font-weight: 400;
    font-size: 35px;
    color: #464646;
}

.content-container .content-section1 .safety-part .safety-content {
    height: auto;
    width: 80%;
    margin: auto;
    padding: 5%;
    border-bottom: 1px solid #e1e1e1;
}

.content-container .content-section1 .safety-part .safety-content p {
    color: #3e3e3e;
    font-size: 18px;
    line-height: 24px;
}

.content-container .content-section1 .safety-part .safety-content .safety-button{
    height: auto;
    width: auto;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
}

.content-container .content-section1 .safety-part .safety-content .safety-button button{
    padding: 15px 30px;
    background-image: linear-gradient(#59a6bd, #3a8fb4, #257b9a, #1e749a);
    margin-top: 3%;
    border: none;
    border-radius: 5px;
}

.content-container .content-section1 .safety-part .safety-content .safety-button button a{
    color: white;
    text-decoration: none;
}

.content-container .content-section2 {
    height: auto;
    width: 60%;
    margin: auto;
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(1fr, auto);
    grid-template-columns: repeat(1fr, auto);
}

.content-container .content-section2 .safety-section {
    height: auto;
    width: auto;
    padding: 10px;
}

.content-container .content-section2 .expert-section {
    grid-area: 1 / 1 / 6 / 12;
}

.content-container .content-section2 .expert-section h2 {
    font-style: italic;
    font-weight: 400;
    margin-bottom: 2%;
    padding: 0px 40px;
    font-size: 28px;
    color: #3c4046;
    line-height: 38px;
    letter-spacing: -1px;
}

.content-container .content-section2 .expert-section .safety-about{
    height: auto;
    width: 85%;
    margin: 2% auto;
    display: flex;
    flex-wrap: nowrap;
}

.content-container .content-section2 .expert-section .safety-about .safety-about-img{
    height: auto;
    width: 35%;
    margin: auto;
}

.content-container .content-section2 .expert-section .safety-about .safety-about-content{
    height: auto;
    width: 60%;
    margin: auto;
}

.content-container .content-section2 .expert-section .safety-about .safety-about-content p{
    color: #3c4046;
    font-size: 18px;
    word-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.content-container .content-section2 .expert-section .expert-button{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row-reverse;
    padding: 5px;
}

.content-container .content-section2 .expert-section .expert-button button{
    padding: 10px 30px;
    background-image: linear-gradient(#545557 , #000);
    border: none;
}

.content-container .content-section2 .expert-section .expert-button button:hover{
    background-image: linear-gradient( #000000 , #545557 );

}

.content-container .content-section2 .expert-section .expert-button button a{
    color: white;
    font-style: italic;
    text-decoration: none;
}

.content-container .content-section2 .management-section {
    grid-area: 7 / 1 / 12 / 12;
}

.content-container .content-section2 .management-section h2{
    font-style: italic;
    font-weight: 400;
    margin-bottom: 2%;
    padding: 0px 40px;
    font-size: 28px;
    color: #3c4046;
    line-height: 38px;
    letter-spacing: -1px;
}

.content-container .content-section2 .management-section .management-part{
    height: auto;
    width: 85%;
    margin: auto;
}

.content-container .content-section2 .management-section .management-part p{
    font-size: 20px;
    color: #3c4046;
    word-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.content-container .content-section2 .management-section .management-list{
    height: auto;
    width: 85%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
}

.content-container .content-section2 .management-section .management-list .management-items{
    height: auto;
    width: 48%;
    padding: 10px;
    margin: auto;
}

.content-container .content-section2 .management-section .management-list .management-items li{
    color: #257b9a;
    font-size: 16px;
    padding: 2px;
}

.content-container .content-section2 .management-section .management-list .management-items li a{
    color: #257b9a;
}

.content-container .content-section2 .management-section .management-list .management-items li a:hover{
    text-decoration: none;
}

/* main section end */
