h1{
    background-color: rgb(5, 38, 34);
    color:white;
    text-align: center;
    margin: 10px;
}

p{
    color: rgb(5, 38, 34);
}

div{
    border: 2px solid rgb(5, 38, 34);
    height: 350px;
    width: 700px;
    margin: auto;
    padding: 10px;
    font-weight: 500;
    font-size: 15px;
    background-color: rgb(206, 217, 216);
}

legend{
    text-align: center;
    color: rgb(5, 38, 34);
    font-size: 20px;
    font-weight: 500;
}

fieldset{
    width: 500px;
    margin: auto;
    padding: 10px;
}

input:focus{
    outline: none; /* remove default blue border */
    background-color: rgb(48, 86, 83);
    color: white;
}