h1{
    background-color: rgb(5, 38, 34);
    color:white;
    text-align: center;
    margin: 10px;
}

p{
    color: rgb(5, 38, 34);
}

div{
    border: 2px solid rgb(5, 38, 34);
    height: 200px;
    width: 700px;
    margin: auto;
    padding: 10px;
    font-weight: 500;
    font-size: 15px;
    background-color: rgb(168, 193, 190);
}

div:hover{
    height: 300px;
    font-size: 20px;
}