h1{
    background-color: rgb(5, 38, 34);
    color:white;
    text-align: center;
    margin: 10px;
}

p{
    color: rgb(5, 38, 34);
}

div{
    border: 2px solid rgb(5, 38, 34);
    height: 400px;
    width: 700px;
    margin: auto;
    padding: 10px;
    font-weight: 500;
    font-size: 15px;
    background-color: rgb(206, 217, 216);
}

.child{
    height: 200px;
    width: 600px;
    margin: auto;
    padding: 5px;
    background-color: rgb(97, 162, 140);
}
.child :nth-child(even){
    background-color: rgb(57, 101, 101);
    margin: 2px;
}

.child :nth-child(odd){
    background-color: rgb(97, 162, 140);
    margin: 2px;

}