<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="image/puma-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Puma</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="puma">
        <div class="header">
            <div class="header-1">
                <div class="list">
                    <ul>
                        <li class="parent">
                            new & trending
                            <div class="child">
                                <ul class="child-1">
                                    <li>Women's new arrival</li>
                                    <li>Men's new arrival</li>
                                    <li>kids & teens</li>
                                    <li>PUMA x PALM TREE CREW</li>
                                </ul>
                                <ul class="child-1">
                                    <li>Gender-neutral Styles</li>
                                    <li>At cafe Edit</li>
                                    <li>Weekend Getaway styles </li>
                                    <li>PUMA x KOCHE</li>
                                </ul>
                            </div>
                        </li>

                        <li class="list-parent">
                            Women
                            <div class="list-child">
                                <ul class="list-child-2">
                                    <li style="color: red;">Sale</li>
                                    <li>new & tranding</li>
                                    <li>sports bra</li>
                                    <li>softride</li>
                                    <li>Anuska's favourite</li>
                                    <li>Nitro Running</li>
                                    <li>eyewear</li>
                                    <li>maternity Clothing</li>
                                    <li>karina's pick</li>
                                    <li>sustainble collaction</li>
                                </ul>
                                <ul class="list-child-1">
                                    <li class="title">Shoes</li>
                                    <li><span>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;</span></li>
                                    <li>sneakers</li>
                                    <li>Running</li>
                                    <li>Walking </li>
                                    <li>Training & Gym</li>
                                    <li>Slip-ons & Ballerinas</li>
                                    <li>Sandals & Flip Flops</li>
                                    <li>Motorsport</li>
                                    <li>Badminton</li>
                                    <li>Softride</li>
                                    <li>Nitro</li>
                                </ul>
                                <ul class="list-child-1">
                                    <li class="title">Clothing</li>
                                    <li><span>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;</span></li>
                                    <li>T-Shirts & Tops</li>
                                    <li>Polos</li>
                                    <li>Sports Bras </li>
                                    <li>Jackets</li>
                                    <li>Sweatshirts & Hoodies</li>
                                    <li>Shorts</li>
                                    <li>Pants</li>
                                    <li>Tights & Leggings</li>
                                    <li>Dresses & Skirts</li>
                                    <li>Maternity Clothing</li>
                                    <li>Homewear</li>
                                    <li>Thermals & Winterwear</li>
                                    <li>Innerwear</li>
                                    <li>Modest Wear</li>
                                    <li>Motorsport</li>
                                </ul>
                                <ul class="list-child-1">
                                    <li class="title">Accessories</li>
                                    <li><span>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;</span>
                                    <li>
                                    <li>Accessories</li>
                                    <li>Caps & Beanies</li>
                                    <li>Backpacks</li>
                                    <li>Bags :Gym & Casual</li>
                                    <li>Socks</li>
                                    <li>Water Bottles</li>
                                    <li>Sports Equipment</li>
                                    <li>Wallets</li>
                                    <li>Gloves</li>
                                    <li>Face Masks</li>
                                    <li>Motorsport</li>
                                    <li>Eyewear</li>
                                </ul>
                                <ul class="list-child-1">
                                    <li class="title">Sports</li>
                                    <li><span>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;</span></li>
                                    <li>Yoga</li>
                                    <li>Running</li>
                                    <li>Training </li>
                                    <li>Basketball</li>
                                    <li>Badminton</li>
                                    <li>cricket</li>
                                    <li>football</li>
                                </ul>
                                <ul class="list-child-1">
                                    <li class="title">Motorsport</li>
                                    <li><span>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;</span></li>
                                    <li>Scuderia Ferrari</li>
                                    <li>BMW M Motorsport</li>
                                    <li>Walking </li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-parent ">men
                            <div class="list-child listchild">
                                <ul class="list-child-2">
                                    <li style="color: red;">Sale</li>
                                    <li>new & tranding</li>
                                    <li>PUMA x RCB</li>
                                    <li>Nitro Running</li>
                                    <li>Motorsport</li>
                                    <li>Softride</li>
                                    <li>eyewear</li>
                                    <li>PUMA x VIRAT'S SIGNATURE LINE</li>
                                    <li>sustainble collaction</li>
                                </ul>
                                <ul class="list-child-1">
                                    <li class="title">Shoes</li>
                                    <li><span>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;</span></li>
                                    <li>sneakers</li>
                                    <li>Running</li>
                                    <li>Walking </li>
                                    <li>Training & Gym</li>
                                    <li>Slip-ons</li>
                                    <li>Sandals & Flip Flops</li>
                                    <li>Motorsport</li>
                                    <li>cricket</li>
                                    <li>Badminton</li>
                                    <li>Basketball</li>
                                    <li>Football</li>
                                    <li>Softride</li>
                                    <li>Nitro</li>
                                    <li>TRC Blaze</li>
                                </ul>
                                <ul class="list-child-1">
                                    <li class="title">Clothing</li>
                                    <li><span>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;</span></li>
                                    <li>T-Shirts & Active & Casual</li>
                                    <li>Polos</li>
                                    <li>Jackets</li>
                                    <li>Sweatshirts & Hoodies</li>
                                    <li>Shorts</li>
                                    <li>Pants</li>
                                    <li>Tracksuits</li>
                                    <li>Team Jerseys</li>
                                    <li>Homewear</li>
                                    <li>Thermals & Winterwear</li>
                                    <li>Innerwear</li>
                                    <li>Motorsport</li>
                                </ul>
                                <ul class="list-child-1">
                                    <li class="title">Accessories</li>
                                    <li><span>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;</span>
                                    <li>
                                    <li>Accessories</li>
                                    <li>Caps & Beanies</li>
                                    <li>Backpacks</li>
                                    <li>Bags :Gym & Casual</li>
                                    <li>Socks</li>
                                    <li>Face Masks</li>
                                    <li>Gloves</li>
                                    <li>Sports Equipment</li>
                                    <li>Wallets</li>
                                    <li>Water Bottles</li>
                                    <li>Motorsport</li>
                                    <li>Eyewear</li>
                                </ul>
                                <ul class="list-child-1">
                                    <li class="title">Sports</li>
                                    <li><span>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;</span></li>
                                    <li>cricket</li>
                                    <li>football</li>
                                    <li>Basketball</li>
                                    <li>Running</li>
                                    <li>Training & Gym</li>
                                    <li>Badminton</li>
                                    <li>Golf</li>
                                    <li>Yoga</li>
                                </ul>
                                <ul class="list-child-1">
                                    <li class="title">Motorsport</li>
                                    <li><span>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;</span></li>
                                    <li>Scuderia Ferrari</li>
                                    <li>BMW M Motorsport</li>
                                    <li>Mercedes AMG Pertronas</li>
                                    <li>Porsche Legacy</li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-parent">kids & teens
                            <div class="list-child listchild1">
                                <ul class="list-child-2">
                                    <li style="color: red;">Sale</li>
                                    <li>Kids & Teens</li>
                                    <li>School store</li>
                                    <li>Shoes Under ₹3000</li>
                                    <li>Clothing Under ₹1000</li>
                                    <li>Vacay Queen</li>
                                    <li>Puma Mask</li>
                                    <li>Motorsport</li>
                                    <li>Essentials</li>
                                    <li>one8</li>
                                </ul>
                                <ul class="list-child-1">
                                    <li class="title">Season's favourite</li>
                                    <li><span>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;</span></li>
                                    <li>PUMA x SPONGEBOB</li>
                                    <li>PUMA x POKEMON </li>
                                    <li>School Store </li>
                                    <li>SUper Puma</li>
                                    <li>Slip-ons</li>
                                    <li>Sets</li>
                                    <li>Homewear</li>
                                </ul>
                                <ul class="list-child-1">
                                    <li class="title">Boys</li>
                                    <li><span>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;</span></li>
                                    <li style="color: black; font-size: 18px;">Bags & Accessories shoes
                                    </li>
                                    <li>Casual</li>
                                    <li>Sports</li>
                                    <li>Sandals & Flip flops</li>
                                    <li>School Shoes</li>
                                    <li style="color: black; font-size: 18px;">Clothing</li>
                                    <li>T-Shirts</li>
                                    <li>Hoodies & Sweatshirts</li>
                                    <li>pants & Shorts</li>
                                    <li> Jackets</li>
                                    <li style="color: black; font-size: 18px;">AGE 0-4 YEARS</li>
                                    <li style="color: black; font-size: 18px;">AGE 4-8 YEARS</li>
                                    <li style="color: black; font-size: 18px;">AGE 8-16 YEARS</li>
                                </ul>
                                <ul class="list-child-1">
                                    <li class="title">Girls</li>
                                    <li><span>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;</span></li>
                                    <li style="color: black; font-size: 18px; ">Bags & Accessories shoes
                                    </li>
                                    <li>Casual</li>
                                    <li>Sports</li>
                                    <li>Sandals & Flip flops</li>
                                    <li>School Shoes</li>
                                    <li style="color: black; font-size: 18px;">Clothing</li>
                                    <li>T-Shirts</li>
                                    <li>Hoodies & Sweatshirts</li>
                                    <li>pants & Shorts</li>
                                    <li> Jackets</li>
                                    <li style="color: black; font-size: 18px;">AGE 0-4 YEARS</li>
                                    <li style="color: black; font-size: 18px;">AGE 4-8 YEARS</li>
                                    <li style="color: black; font-size: 18px;">AGE 8-16 YEARS</li>
                                </ul>
                                <ul class="list-child-1">
                                    <li class="title">Sports</li>
                                    <li><span>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;</span></li>
                                    <li>cricket</li>
                                    <li>football</li>
                                    <li>Running</li>
                                    <li>Indoor Sports</li>
                                </ul>
                                <ul class="list-child-1">
                                    <li class="title">Motorsport</li>
                                    <li><span>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;</span></li>
                                    <li>Scuderia Ferrari</li>
                                    <li>BMW M Motorsport</li>
                                    <li>Mercedes AMG Pertronas</li>
                                </ul>
                            </div>
                        </li>
                        <li class="parent">motorsport
                            <div class="child child1">
                                <ul class="child-1">
                                    <li>Motorsport Store</li>
                                    <li>Scuderia Ferrari</li>
                                    <li>Mercedes AMG Petronas</li>
                                    <li>BMW M Motorsport</li>
                                </ul>
                                <ul class="child-1">
                                    <li>Porsche Legacy</li>
                                    <li>Porsche Design</li>
                                    <li>Shoes</li>
                                    <li>Clothing</li>
                                </ul>
                                <ul class="child-1">
                                    <li>Accessories</li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-parent">collabration
                            <div class="list-child listchild2">
                                <ul class="list-child-1" style="margin-left: 100px; width:300px; ">
                                    <li class="title">Select</li>
                                    <li><span>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;</span></li>
                                    <li>Puma x KOCHE</li>
                                    <li>PUMA x MIRACULOUS</li>
                                    <li>PUMA x 8ENJAMIN </li>
                                    <li>PUMA x P.A.M</li>
                                    <li>PUMA x PALOMO</li>
                                    <li>Sandals & Flip Flops</li>
                                    <li>TRACKMEET</li>
                                    <li>UPTOWN</li>
                                    <li>PUMA x THE RAGGED PRIEST</li>
                                    <li>MMQ</li>
                                    <li>PUMA x SPONGEBOB | ADULTS</li>
                                    <li>PUMA x SPONGEBOB | KIDS</li>
                                    <li>PUMA x RICK AND MORTY</li>
                                    <li>PUMA x STAPLE</li>
                                </ul>
                                <ul class="list-child-1">
                                    <li class="title">Partnerships</li>
                                    <li><span>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;</span></li>
                                    <li>Neymar Jr</li>
                                    <li>Manchester City FC</li>
                                    <li>A.C Milan </li>
                                    <li>BVB</li>
                                    <li>PUMA x one8</li>
                                    <li>PUMA x 1DER</li>
                                    <li>VK Signature Line</li>
                                    <li>PUMA x RCB</li>
                                    <li>Bengaluru FC</li>
                                    <li>Mumbai City FC</li>
                                    <li>PUMA x PALM TREE CREW</li>
                                    <li>PUMA x RIPNDIP</li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-parent">sports
                            <div class="list-child listchild3">
                                <ul class="list-child-1">
                                    <li class="title">Running</li>
                                    <li><span>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;</span></li>
                                    <li>Running Store</li>
                                    <li>Everyday Running</li>
                                    <li>5-10 km Running</li>
                                    <li>Long Distance Running</li>
                                    <li>Trail Running</li>
                                    <li>Clothing</li>
                                    <li>Accessories</li>
                                    <li>Nitro collaction</li>
                                    <li>First Mile</li>
                                    <li>Seasons collaction</li>
                                </ul>
                                <ul class="list-child-1">
                                    <li class="title">Training</li>
                                    <li><span>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;</span></li>
                                    <li>Shoes</li>
                                    <li>Gym Wear</li>
                                    <li>Gym Bags & Accessories </li>
                                    <li>yoga</li>
                                    <li>Sports Bras</li>
                                    <li>Maternity Wear</li>
                                </ul>
                                <ul class="list-child-1">
                                    <li class="title">Cricket</li>
                                    <li><span>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;</span></li>
                                    <li>Cricket Shoes - Rubber</li>
                                    <li>Cricket Shoes - Spike</li>
                                    <li>Clothing</li>
                                    <li>Cricket Gear & Accessories</li>
                                    <li>Puma x RCB</li>
                                </ul>
                                <ul class="list-child-1">
                                    <li class="title">Football</li>
                                    <li><span>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;</span>
                                    <li>
                                    <li>Turf Trainers</li>
                                    <li>Firm/Aritifical Ground Boots</li>
                                    <li>Indoor shoes</li>
                                    <li>Clothing</li>
                                    <li>Football & Accessories</li>
                                    <li>Manchester City Fc</li>
                                    <li>BVB</li>
                                    <li>AC Milan</li>
                                    <li>FIGC italia</li>
                                    <li>Mumbai City FC</li>
                                    <li>Bengaluru FC</li>
                                    <li>Pursuit Pack</li>
                                </ul>
                                <ul class="list-child-1">
                                    <li class="title">Basketball</li>
                                    <li><span>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;</span></li>
                                    <li>Shoes</li>
                                    <li>Clothing</li>
                                </ul>
                                <ul class="list-child-1">
                                    <li class="title">Badminton</li>
                                    <li><span>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;</span></li>
                                    <li>Non-Marking Shoes</li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-parent">outlates
                            <div class="list-child listchild4">
                                <ul class="list-child-2">
                                    <li>Shop All Outlates </li>
                                    <li>Sports Shoes Starting from ₹1799</li>
                                    <li>Motorsport</li>
                                    <li>Collections Starting from ₹999</li>
                                    <li>Everything Under ₹1000</li>
                                    <li>Vacay Queen</li>
                                    <li>New To Outlates</li>
                                </ul>
                                <ul class="list-child-1">
                                    <li class="title">Outlet Men</li>
                                    <li><span>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;</span></li>
                                    <li style="color: black; font-size: 18px;">Bags & Accessories shoes
                                    </li>
                                    <li>Casual</li>
                                    <li>Sandals & Flip flops</li>
                                    <li>Sports</li>
                                    <li>Motorsport</li>
                                    <li style="color: black; font-size: 18px;">Clothing</li>
                                    <li>T-Shirts</li>
                                    <li>Hoodies & Sweatshirts</li>
                                    <li> Jackets</li>
                                    <li>pants & Shorts</li>
                                    <li>Potos</li>
                                    <li>Tracksuits</li>
                                </ul>
                                <ul class="list-child-1">
                                    <li class="title">Outlate Women</li>
                                    <li><span>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;</span></li>
                                    <li style="color: black; font-size: 18px;">Bags & Accessories shoes
                                    </li>
                                    <li>Casual</li>
                                    <li>Sports</li>
                                    <li>Sandals & Flip flops</li>
                                    <li>Motorsport</li>
                                    <li style="color: black; font-size: 18px;">Clothing</li>
                                    <li>T-Shirts</li>
                                    <li>Hoodies & Sweatshirts</li>
                                    <li> Jackets</li>
                                    <li>pants & Shorts</li>
                                    <li>Tights & leggings</li>
                                    <li>Innerwear</li>
                                </ul>
                                <ul class="list-child-1">
                                    <li class="title">Outlate Kids</li>
                                    <li><span>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;</span></li>
                                    <li style="color: black; font-size: 18px; ">Shoes
                                    </li>
                                    <li>Casual</li>
                                    <li>Sandals & Flip flops</li>
                                    <li>Sports</li>
                                    <li>Motorsport</li>
                                    <li style="color: black; font-size: 18px;">Clothing</li>
                                    <li>T-Shirts</li>
                                    <li>Hoodies & Sweatshirts</li>
                                    <li> Jackets</li>
                                    <li>pants & Shorts</li>
                                    <li>Leggings</li>
                                </ul>
                                <ul class="list-child-1">
                                    <li class="title">Motorsport</li>
                                    <li><span>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;</span></li>
                                    <li>BMW M Motorsport</li>
                                    <li>Mercedes AMG Pertronas</li>
                                    <li>Scuderia Ferrari</li>
                                    <li>Porsche Legacy</li>
                                    <li>Red Bull Racing</li>
                                </ul>
                                <ul class="list-child-1">
                                    <li class="title">Outlate Sports</li>
                                    <li><span>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;</span></li>
                                    <li>football</li>
                                    <li>cricket</li>
                                    <li>Basketball</li>
                                    <li>Running</li>
                                    <li>Training</li>
                                    <li>Badminton</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="header-2">
                <div class="left">
                    <img src="./image/shoes.jpg" alt="">
                    <h1><span>S</span>hoes bazar</h1>
                </div>
                <div class="right">
                    <div class="search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" value="search.." style="border: none; outline: none;">
                    </div>
                    <div class="icon">
                        <div class="icon-1"><i class="fa-regular fa-heart"></i></div>
                        <div class="icon-1"><i class="fa-solid fa-cart-shopping"></i></div>
                        <div class="icon-1"><i class="fa-solid fa-user"></i></div>
                    </div>
                </div>
            </div>

            <div class="header-3">
                EXTRA 5% INSTANT DISCOUNT FOR ALL ONLINE PAYMENTS. FREE RETURNS.
            </div>


        </div>
    </div>
</body>

</html>