div {
    border: 2px solid rgb(7, 42, 49);
    height: 115s0px;
    margin: auto;
    padding: 5px;
    font-weight: 500;
    font-size: 15px;
    background-color: rgb(226, 244, 248);
}

h1 {
    background-color: rgb(7, 42, 49);
    color: white;
    text-align: center;
    margin: 10px;
}

p {
    color: rgb(7, 42, 49);
    font-weight: 500;
    font-size: 20px;
}

li {
    color: rgb(7, 42, 49);
    font-weight: 600;
}

p.dotted {
    outline-offset: 2px;
    border: 2px solid rgb(7, 48, 29);
    padding: 5px;
    font-weight: 500;
    outline-style: dotted;
}

p.dashed {
    outline-offset: 2px;
    border: 2px solid rgb(7, 48, 29);
    padding: 5px;
    font-weight: 500;
    outline-style: dashed;
}

p.solid {
    outline-offset: 2px;
    border: 2px solid rgb(7, 48, 29);
    padding: 5px;
    font-weight: 500;
    border-style: solid;
}

p.double {
    outline-offset: 2px;
    border: 2px solid rgb(7, 48, 29);
    padding: 5px;
    font-weight: 500;
    outline-style: double;
}

p.groove {
    outline-offset: 2px;
    border: 2px solid rgb(7, 48, 29);
    padding: 5px;
    font-weight: 500;
    outline-style: groove;
}

p.ridge {
    outline-offset: 2px;
    border: 2px solid rgb(7, 48, 29);
    padding: 5px;
    font-weight: 500;
    border-style: ridge;
}

p.inset {
    outline-offset: 2px;
    border: 2px solid rgb(7, 48, 29);
    padding: 5px;
    font-weight: 500;
    outline-style: inset;
}

p.outset {
    outline-offset: 2px;
    border: 2px solid rgb(7, 48, 29);
    padding: 5px;
    font-weight: 500;
    outline-style: outset;
}

p.none {
    outline-offset: 2px;
    border: 2px solid rgb(7, 48, 29);
    padding: 5px;
    font-weight: 500;
    outline-style: none;
}

p.hidden {
    outline-offset: 2px;
    border: 2px solid rgb(7, 48, 29);
    padding: 5px;
    font-weight: 500;
    border-style: hidden;
}

p::selection {
    background-color: rgb(7, 42, 49);
    color: white;
}

h1::selection {
    background-color: rgb(7, 42, 49);
    color: white;

}

li::selection {
    color: white;
    background-color: rgb(7, 42, 49);
}