.outline {
    height: 400px;
    width: auto;
    margin: auto;
    padding: 2px;
    border: 2px solid black;
}

h1 {
    background-color: rgb(7, 58, 32);
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

.example {
    border: 2px solid black;
    outline: #0e5738 solid 10px;
    width: 75%;
    margin: auto;
    padding: 10px;
    text-align: center;
}

p{
    color: rgb(7, 58, 32);
    margin-top: 10px;
}

li{
    color: rgb(7, 58, 32);
    margin-left: 10px;
}