.div {
    height: 500px;
    width: 90%;
    margin: auto;
    border: 2px solid black;
}

div {
    margin: 5px;
}

h1 {
    background-color: rgb(20, 177, 104);
    color: white;
    text-align: center;
    margin: 10px;
    padding: 5px;
}

p {
    color: rgb(20, 177, 104);
}

p.ex1 {
    outline: dashed;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    color: darkcyan;
    text-align: center;
}

p.ex2 {
    outline: dotted red;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    color: darkcyan;
    text-align: center;
}

p.ex3 {
    outline: 5px solid rgb(238, 238, 169);
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    color: darkcyan;
    text-align: center;
}

p.ex4 {
    outline: thick ridge rgb(247, 201, 207);
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    color: darkcyan;
    text-align: center;
}

.ex1:hover {
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
}

.ex2:hover {
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
}

.ex3:hover {
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
}

.ex4:hover {
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
}