*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin: 20px;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #3c0932;
}

.table{
    height: auto;
    padding: 20px;
    width: 70%;
    text-transform: capitalize;
    margin: auto;
}


.table table{
    width: 80%;
}

.table table thead{
    font-weight: 700;
}

.table tr , td{
    padding: 10px;
}
.example {
    height: auto;
    padding: 20px;
    margin: 10px 100px;
    width: auto;
    box-shadow: 2px 2px 2px #3c0932;
}

.example h2{
    font-size: 40px;
    background-color: #3c0932;
    color: white;
}

.example h5 , h2{
    width: 80%;
    text-align: center;
    padding: 5px;
    margin: 0px 35px 15px;
}

.example h5{
    color: #3c0932;
    font-size: 25px;
}

.example pre {
    color: black;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    margin: 0px 5px 5px;
}

.example .span {
    background-color: #3c0932;
    color: white;
    font-size: 20px;
    margin-left: 600px;
    display: inline-block;
    width: 200px;
    height: 40px;
    text-align: center;
    padding: 10px;
}

.example #btn{
    padding: 10px 20px;
    font-size: 20px;
    margin: 5px;
    font-weight: 700;
    background-color: #d9ced7;
    color: #3c0932;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.button {
    width: 10%;
    margin: 50px auto;
    text-align: center;
}

.button button {
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    background-color: #d9ced7;
    color: #3c0932;
    text-decoration: none;
    border: none;
    cursor: pointer;
}