body {
    margin: 0;
}

.repeat {
    border: 2px solid black;
    height: 2000px;
    margin: auto;
    background-color: rgb(201, 201, 242);
}

h1 {
    background-color: rgb(20, 37, 50);
    color: white;
    text-align: center;
    margin: 5px;
}

.example {
    height: 300px;
    width: 600px;
    color: white;
    margin: auto;
    background-color: rgb(48, 48, 92);
    border: 15px solid transparent;
    padding: 15px;
    line-height: 300px;
    text-align: center;
    background-attachment: fixed;
    border-image-source: url('../../../image/border-1.png');
    border-image-repeat: round;
    border-image-width: 1;
    border-image-slice: 30;
    margin-bottom: 30px;
    border-image-outset: 1;
}

#b1 {
    border-image-repeat: stretch;
}

#b2 {
    border-image-repeat: repeat;
}

#b3 {
    border-image-repeat: round;
}

#b4 {
    border-image-repeat: space;
}
