body {
    margin: 0;
}

.source {
    border: 2px solid black;
    height: 1000px;
    margin: auto;
    background-color: rgb(201, 201, 242);
}

h1 {
    background-color: rgb(20, 37, 50);
    color: white;
    text-align: center;
    margin: 5px;
}

.example {
    height: 300px;
    width: 600px;
    color: white;
    margin: auto;
    background-color: rgb(48, 48, 92);
    border: 15px solid transparent;
    padding: 15px;
    line-height: 300px;
    text-align: center;
    background-attachment: fixed;
}

#b1 {
    border-image-repeat: round;
    border-image-slice: 30;
    border-image-source: url('../../../image/border.jpg');
}

#b2{
    border-image-slice: 30;
    border-image-repeat: space;
    border-image-source: url('../../../image/border-1.png');
}