body {
    margin: 0;
}

.width {
    border: 2px solid black;
    height: 2200px;
    margin: auto;
    background-color: rgb(201, 201, 242);
}

h1 {
    background-color: rgb(20, 37, 50);
    color: white;
    text-align: center;
    margin: 5px;
}

.example {
    height: 300px;
    width: 600px;
    color: white;
    margin: auto;
    background-color: rgb(48, 48, 92);
    border: 15px solid transparent;
    padding: 15px;
    line-height: 300px;
    text-align: center;
    background-attachment: fixed;
    border-image-source: url('../../../image/border-1.png');
    border-image-repeat: round;
    border-image-slice: 30;
}

#b1 {
    border-image-width: 10px;
}

#b2 {
    border-image-width: 10px 40px;

}

#b3 {
    border-image-width: 10%;

}

#b4 {
    border-image-width: 15% 50%;

}

#b5 {
    border-image-width: 2;

}