* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: auto;
    width: auto;
    background-color: #e7e1e7;
    border: 1px solid black;
}

.container h1 {
    text-align: center;
    padding: 10px;
    margin: 5px;
    color: whitesmoke;
    background-color: #3c0e27;
}

.container .content {
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
}

.container .content h2 {
    text-align: center;
    height: auto;
    width: 18%;
    margin: 10px auto;
    color: white;
    padding: 5px;
    font-size: 25px;
    background: #510830;
    box-shadow: 3px 3px 3px lightgrey;
    border-radius: 15px 50px;
}

.container .content p {
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.container .content .name {
    height: auto;
    width: auto;
    margin: 5px;
    padding: 15px;
    border: 1px solid black;
}

.container .content .name li {
    color: #3c0e27;
    font-size: 20px;
    list-style: none;
    padding: 5px;
}

.container .content .name .sub-name {
    height: auto;
    width: auto;
    padding-left: 25px;
}

.container .content .name .sub-name li {
    color: #3c0e27;
    font-size: 20px;
    list-style: none;
    padding: 5px;
}

.container .content .selector {
    height: auto;
    width: auto;
    padding: 5px;
}

.container .content .selector h3 {
    height: auto;
    width: auto;
    color: #510830;
    padding: 5px;
    font-size: 25px;
}

.container .content .selector p {
    height: auto;
    color: #510830;
    padding: 5px;
    font-size: 20px;
}

.container .content .selector .syntax {
    height: auto;
    padding: 10px 5px;
    width: 50%;
    margin: auto;
    font-size: 18px;
    color: #2f0a1e;
    font-family:Arial, Helvetica, sans-serif;
    box-shadow: 3px 3px 3px #3a1e3a;
    border: 1px solid #3a1e3a;
}

.container .content .selector.span {
    height: auto;
    color: #2f0a1e;
    padding: 5px;
    font-size: 20px;
}