* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    height: auto;
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    font-size: 25px;
    text-align: center;
    color: white;
    background-color: #060631;
}

.div {
    height: auto;
    margin: 10px auto;
    width: 70%;
    box-shadow: 3px 3px 2px #060631;
    border: 1px solid #060631;
}

.div table {
    margin: 30px;
    border: none;
    border-collapse: collapse;
}

.div table th{
    color: white;
    padding: 10px;
    font-size: 30px;
    background-color: #0b0b2d;
}

.div table .line-1 {
    border: none;
    padding: 5px;
    width: 2%;
}

.div table .line-2 {
    border: none;
    padding: 5px;
    width: 45%;
}

.div table td{
    border: none;
    font-size: 25px;
    padding: 10px;
    text-align: left;
}

.div table .odd{
    background-color: whitesmoke;
}

.div table .even{
    background-color: lightgray;
}