* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    height: 1300px;
    width: 100%;
    background-color: #f3f2f6;
    background-image: url("../../image/clippath.svg");
    background-size: 100% 100%;
    position: relative;
}

/* header */

.main-container .header {
    height: auto;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    /* border: 1px solid black; */
}

.main-container .header .header-container {
    height: 150px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.main-container .header .header-container .header-title {
    height: 100px;
    width: 25%;
    margin: auto;
}

.main-container .header .header-container .header-title h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    line-height: 60px;
    margin: 15px auto;
    color: #1D2830;
    text-transform: lowercase;
}

.main-container .header .header-container .header-menu {
    height: 60px;
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.main-container .header .header-container .header-menu .menu {
    height: 60px;
    width: 50%;
    margin: auto;
}

.main-container .header .header-container .header-menu .menu .list {
    height: 60px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    line-height: 60px;
}

.main-container .header .header-container .header-menu .menu .list li {
    height: 60px;
    margin: auto;
    width: auto;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: #35414B;
}

.main-container .header .header-container .header-menu .menu .list li .fa-solid {
    text-align: center;
    padding: 10px;
}

.main-container .header .header-container .header-menu .button {
    height: 60px;
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.main-container .header .header-container .header-menu .button .btn {
    height: 50px;
    width: 48%;
    margin: auto;
    font-size: 1rem;
    line-height: 50px;
    text-align: center;
}

.main-container .header .header-container .header-menu .button .btn-1 a {
    color: gray;
}

.main-container .header .header-container .header-menu .button .btn-2 a {
    color: #794CFF;
}

.main-container .header .header-container .header-menu .button .btn-2 {
    background-color: #ECE5FF;
}

.main-container .header .header-container .bar-menu {
    height: auto;
    width: 30%;
    text-align: center;
    margin: auto;
    position: relative;
    display: none;
}

.main-container .header .header-container .bar-menu .fa-bars {
    font-size: 25px;
    margin: auto;
    padding: 10px;
}

.main-container .header .header-container .bar-menu h5 {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.main-container .header .header-container .bar-menu ul {
    height: auto;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
    text-align: center;
    position: absolute;
    margin-top: 10px;
    display: none;
    left: 0%;
    box-shadow: 0px 0px 3px black;
}

.main-container .header .header-container .bar-menu ul li {
    padding: 5px;
}

.main-container .header .header-container .bar-menu:hover ul {
    display: block;
}

/* banner */
.main-container .banner {
    height: auto;
    width: 100%;
    margin: 40px auto;
    position: absolute;
    top: 150px;
    left: 0px;
}

.main-container .banner .banner-container {
    height: auto;
    width: 100%;
}

.main-container .banner .banner-container .save-upto {
    height: 50px;
    width: 20%;
    margin: 10px auto;
    display: flex;
}

.main-container .banner .banner-container .save-upto .get {
    width: 65%;
    height: 32px;
    border-radius: 0px, 100px, 100px, 0px;
    line-height: 32px;
    text-align: right;
    font-size: 16px;
    padding-right: 5px;
    border-radius: 100px;
    position: relative;
    background-color: #F2F9EB;
    margin: auto;
}

.main-container .banner .banner-container .save-upto .get .save {
    width: 125px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: white;
    border-radius: 100px;
    position: absolute;
    left: -50px;
    background-color: #81C43B;
}

.main-container .banner .banner-container .banner-content {
    height: auto;
    width: 90%auto;
    margin: 5px auto;
}

.main-container .banner .banner-container .banner-content h1 {
    width: 760px;
    height: auto;
    font-size: 64px;
    margin: 10px auto;
    text-align: center;
}

.main-container .banner .banner-container .banner-content h4 {
    width: 505px;
    height: auto;
    margin: 5px auto;
    font-size: 16px;
    color: #4E5A65;
    font-weight: 400;
    text-align: center;
}

.main-container .banner .banner-container .input-container {
    height: 50px;
    width: 40%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

.main-container .banner .banner-container .input-container .box-1 {
    height: 50px;
    width: 60%;
    margin: auto;
    border-radius: 4px, 0px, 0px, 4px;
    background-color: #f8f8f8;
    border: 1px solid #F0EBFA;
}

.main-container .banner .banner-container .input-container .box-1 input {
    font-size: 16px;
    width: 80%;
    line-height: 50px;
    padding-left: 10px;
    background-color: #f8f8f8;
    border: none;
}

.main-container .banner .banner-container .input-container .box-2 {
    height: 50px;
    width: 40%;
    margin: auto;
    background-color: #794CFF;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 0px, 4px, 4px, 0px;
}

/* overview */

.main-container .overview {
    height: 700px;
    width: 70%;
    margin: 10px auto;
    position: absolute;
    top: 45%;
    left: 20%;
    /* border: 1px solid black; */
}

.main-container .overview .overview-container {
    height: 700px;
    width: 80%;
    margin: auto;
    background-image: url("../Image/Graph.png");
    background-size: 100% 100%;
}

/* companies section */

.company {
    height: auto;
    width: auto;
    margin: 5px auto;
    margin-bottom: 10px;
    /* border: 1px solid black; */
}

.company h1 {
    height: 40px;
    width: 90%;
    margin: auto;
    color: #4E5A65;
    font-family: inter;
    font-size: 16px;
    line-height: 40px;
    font-weight: 500;
    text-align: center;
}

.company .company-container {
    height: auto;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.company .company-container .companies {
    height: 50px;
    width: 15%;
    text-align: center;
    margin: 10px auto;
    background-size: 100% 100%;
}


/* timeline */

.timeline {
    height: auto;
    width: 100%;
    margin: 20px auto;
    background-color: #FBFAFE;
}

.timeline .timeline-container {
    height: auto;
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

.timeline .timeline-container .timeline-img {
    height: 550px;
    width: 50%;
    margin: auto;
    background-image: url("../Image/Timeline.png");
    background-size: 100% 100%;
}

.timeline .timeline-container .timeline-list {
    height: 550px;
    width: 50%;
    margin: auto;
}

.timeline .timeline-container .timeline-list ul {
    height: 130px;
    width: 80%;
    padding: 5px;
    margin: auto;
}

.timeline .timeline-container .timeline-list ul li {
    height: 130px;
    width: 80%;
    padding: 10px;
    margin: 2px auto;
    background-color: #FBFAFE;
    border-radius: 0px, 8px, 8px, 0px;
    border-bottom: 1px solid #F0EBFA;
    box-shadow: 0px 0px 3px #F0EBFA;
}

.timeline .timeline-container .timeline-list ul li:nth-child(1) {
    background-color: #F6F3FC;
    border-left: 10px solid #794CFF;
}

.timeline .timeline-container .timeline-list ul li h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    padding: 5px;
    text-align: left;
}

.timeline .timeline-container .timeline-list ul li p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding: 5px;
    text-align: left;
}

.work-container {
    height: auto;
    width: auto;
    margin: 50px auto;
}

.work-container h1 {
    width: 100%;
    height: auto;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    margin: 5px auto;
    padding: 20px;
}

.work-container .benefits{
    height: auto;
    margin: auto;
    text-align: center;
    border-radius: 4px;
    background-color: #ECE5FF;
   color: #796EFF;
    display: none;
}

.work-container .work {
    height: auto;
    width: 70%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.work-container .work .work-box {
    height: 250px;
    width: 100%;
    padding: 5px;
    margin: 10px auto;
}

.work-container .work .work-box-1 {
    grid-area: 1 / 1 / span 2 / span 4;
}

.work-container .work .work-box-2 {
    grid-area: 1 / 5 / span 2 / span 4;
}

.work-container .work .work-box-3 {
    grid-area: 1 / 9 / span 2 / span 4;
}

.work-container .work .work-box-4 {
    grid-area: 3 / 1 / span 2 / span 4;
}

.work-container .work .work-box-5 {
    grid-area: 3 / 5 / span 2 / span 4;
}

.work-container .work .work-box-6 {
    grid-area: 3 / 9 / span 2 / span 4;
}

.work-container .work .work-box .icon {
    height: 65px;
    width: 65px;
    margin: 25px;
    border-radius: 50%;
}

.work-container .work .work-box .title {
    height: 40px;
    width: 80%;
    padding: 5px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.work-container .work .work-box .content {
    height: 90px;
    width: 80%;
    padding: 5px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

/* project-section */

.project {
    height: auto;
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    background-color: #FBFAFE;
}

.project .project-container {
    height: auto;
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

.project .project-container .project-content {
    height: 400px;
    width: 50%;
    margin: 75px auto;
    /* border: 1px solid black; */
}

.project .project-container .project-content .title {
    width: 70%;
    height: auto;
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 20px;
    margin: 5px auto;
    color: #35414B;
    padding: 20px;
    /* border: 1px solid black; */
}

.project .project-container .project-content .content {
    width: 70%;
    height: auto;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: auto;
    padding: 5px;
    color: #4E5A65;
    /* border: 1px solid black; */
}

.project .project-container .project-content .button {
    width: 30%;
    height: 55px;
    margin: 10px auto;
    border-radius: 4px;
    text-align: center;
    line-height: 55px;
    background-color: #796EFF;
}

.project .project-container .project-content .button a {
    color: white;
}

.project .project-container .project-img {
    height: 550px;
    width: 50%;
    margin: auto;
    background-image: url("../Image/work.png");
    background-size: 100% 100%;
}

/* customer section */

.customer-container {
    height: auto;
    width: auto;
    margin: 20px auto;
}

.customer-container .customer {
    height: auto;
    width: 80%;
    margin: auto;
}

.customer-container .customer .customer-title {
    height: auto;
    width: 40%;
    text-align: center;
    padding: 2%;
    margin: 5px auto;
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    color: #35414B;
}

.customer-container .customer .customer-content {
    height: auto;
    width: 40%;
    text-align: center;
    padding: 2%;
    margin: 2px auto;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #4E5A65;
}

.customer-container .customer .customer-review {
    height: auto;
    width: 80%;
    margin: 20px auto;
}

.customer-container .customer .customer-review ul {
    height: auto;
    width: 100%;
    margin: auto;
}

.customer-container .customer .customer-review ul li {
    height: auto;
    width: 30%;
    margin: auto 1%;
    padding: 2%;
    display: inline-block;
}

.customer-container .customer .customer-review ul li:nth-child(1) {
    border-top: 5px solid #35414B;
}

.customer-container .customer .customer-review ul li .list {
    height: auto;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

}

.customer-container .customer .customer-review ul li .list .customer-img {
    width: 60px;
    height: 60px;
    margin: auto;
    padding: 2%;
}

.customer-container .customer .customer-review ul li .list .customer-info {
    width: 70%;
    height: 70px;
}

.customer-container .customer .customer-review ul li .list .customer-info h5 span {
    color: #4E5A65;
    font-weight: 600;
}

.customer-container .customer .customer-review ul li .list .customer-info h5 {
    width: 200px;
    height: 16px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    padding: 10px;
    letter-spacing: 0em;
    text-align: left;
    color: #4E5A65;
}

/* application-section */

.app-container {
    height: auto;
    width: 100%;
    margin: 20px auto;
}

.app-container .app {
    height: 250px;
    width: 80%;
    border-radius: 16px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #796EFF;
}

.app-container .app .app-content {
    height: auto;
    width: 50%;
    margin: auto;
    color: white;
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    padding: 2px 8%;
}

.app-container .app .app-playstore {
    height: auto;
    width: 15%;
    margin: auto;
}

.app-container .app .app-store {
    height: auto;
    width: 15%;
    margin: auto;
}

/* footer section */

.footer-container {
    height: auto;
    width: 100%;
    margin: 20px auto;
    background-color: #1D2830;
}

.footer-container .footer {
    height: auto;
    width: 100%;
    margin: auto;
}

.footer-container .footer .upper-footer {
    height: 375px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.footer-container .footer .upper-footer ul {
    height: auto;
    width: 20%;
    margin: auto;
    color: white;
    text-align: left;
    padding: 1.5%;
}

.footer-container .footer .upper-footer ul h4 {
    font-family: Inter;
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

.footer-container .footer .upper-footer ul h4 .fa-solid {
    display: none;
}

.footer-container .footer .upper-footer ul li {
    height: auto;
    padding: 5px;
    margin: 5px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
}


.footer-container .footer .bottom-footer {
    height: 70px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border-top: 1px solid #FFFFFF;
}

.footer-container .footer .bottom-footer .div-1 {
    height: auto;
    width: 60%;
    padding: 2px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #D9DBE1;
    margin: auto;
}

.footer-container .footer .bottom-footer .div-2 {
    height: auto;
    width: 30%;
    margin: auto;
}

.footer-container .footer .bottom-footer .div-2 .icons {
    height: auto;
    width: 40%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.footer-container .footer .bottom-footer .div-2 .icons .icon {
    height: 32px;
    width: 32px;
    margin: auto;
    border-radius: 50%;
    background-color: #c8cedf;
}

.footer-container .footer .bottom-footer .div-2 .icons .icon .fa-solid {
    padding-left: 7px;
    line-height: 32px;
    color: white;
}

.footer-container .footer .bottom-footer .div-2 .icons .icon .fa-brands {
    padding-left: 7px;
    line-height: 32px;
    color: white;
}