* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #470f31;
}

.container {
    height: auto;
    width: 40%;
    margin: 20px auto;
    padding: 50px;
    background-color: #b8b1b7;
    box-shadow: 0px 0px 3px #b8b1b7;
}

.container label {
    font-size: 35px;
}

.container input {
    width: 60%;
    padding: 10px;
}

#password-strength {
    margin-top: 10px;
    font-weight: bold;
    font-size: 25px;
}

#password-strength span{
    font-size: 20px;
}

.weak {
    color: #FF5733; /* Adjusted color for better visibility */
}

.medium {
    color: #470f31;
}

.strong {
    color: crimson;
}