* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.calculator {
    height: auto;
    width: 200px;
    margin: 20px auto;
    padding: 15px;
    background-color: black;
    box-shadow: 0px 0px 3px white;
}

.calculator input{
    color: white;
    height: 50px;
    border: none;
    width: 98%;
    margin: 2px;
    padding: 10px;
    box-shadow: 0px 0px 3px white;
}

.calculator button {
    height: 40px;
    width: 20%;
    margin: 5px 2.5px;
    color: white;
    border: none;
    font-size: 15px;
    background-color: #333536;
    text-align: center;
    border-radius: 50%;
}

.calculator .btn{
    color: white;
   color: greenyellow;
}

.calculator .btn1{
    color: white;
    background-color: orange;
}