* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* text-decoration: none; */
    list-style: none;
    text-transform: capitalize;
}

.container {
    height: auto;
    width: 100%;
    margin: auto;
}

.container h1 {
    height: auto;
    width: 80%;
    padding: 5px;
    margin: 5px auto;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: #0c4646;
}

.container .answer {
    height: auto;
    width: 95%;
    padding: 20px;
    margin: 10px auto;
}

.container .tag{
    height: auto;
    width: 95%;
    margin: 10px auto;
    padding: 10px;
    /* border: 1px solid black; */
}

.container .tag h2{
    height: auto;
    width: 70%;
    font-size: 25px;
    color: darkslategrey;
    text-align: center;
    padding: 10px;
    margin: 5px auto;
}

.container .tag p{
    height: auto;
    width: 95%;
    font-size: 18px;
}

.container .syntax{
    height: auto;
    width: 70%;
    margin: 20px 10px ;
    padding: 10px;
    box-shadow: 0px 0px 3px teal;
}

.container .attributes{
    height: auto;
    width: 80%;
    padding: 20px;
    margin: 20px auto;
    /* border: 1px solid black; */
}

.container .attributes table{
    height: auto;
    width: 98%;
    margin: auto;
    padding: 5px;
    border: none;
    border-collapse: collapse;
}

.container .attributes table caption{
    height: auto;
    width: 80%;
    margin: auto;
    padding: 5px;
    color: #0c4646;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
}

.container .attributes table thead{
    background-color: #0c4646;
    color: white;
    text-align: center;
    padding: 5px;
}

.container .attributes table td{
    padding: 5px;
    border: none;
}

.container .attributes table .odd{
    background-color: #a3b9b9;
}

.container .attributes table .even{
    background-color: #769090;
}

.container .example{
    height: auto;
    width: auto;
    padding: 15px;
    margin: 20px auto;
    box-shadow: 0px 0px 5px darkslategrey;
}

.container .example h6{
    height: auto;
    padding: 5px;
    color: #0c4646;
    font-size: 20px;
}