* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: auto;
    width: 100%;
    margin: 10px auto;
}

.container h1 {
    height: auto;
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    font-size: 25px;
    text-align: center;
    color: white;
    background-color: #0c4646;
}

.container .answer {
    height: auto;
    margin: 10px auto;
    width: 80%;
    box-shadow: 3px 3px 2px #0c4646;
    border: 1px solid #0c4646;
}

.container .answer table {
    margin: 30px;
    border: none;
    border-collapse: collapse;
}

.container .answer table th{
    color: white;
    padding: 10px;
    font-size: 30px;
    background-color: #0c4646;
}

.container .answer table .line-1 {
    border: none;
    padding: 5px;
    width: 2%;
}

.container .answer table .line-2 {
    border: none;
    padding: 5px;
    width: 45%;
}

.container .answer table td{
    border: none;
    font-size: 25px;
    padding: 10px;
    text-align: left;
}

.container .answer table .odd{
    background-color: whitesmoke;
}

.container .answer table .even{
    background-color: lightgray;
}