div{
    height: 1450px;
    width: 100%;
    border: 2px solid black;
    background-color: rgb(203, 219, 219);
}

.line{
    height: 300px;
    width: 95%;
    margin: auto;
    background-color: rgb(216, 235, 235);
}

.color{
    height: 300px;   
    width: 95%;
    margin: auto;
    background-color: rgb(216, 235, 235);
}

.style{
    height: 300px;
    width: 95%;
    margin: auto;
    background-color: rgb(216, 235, 235);
}

.thickness{
    height: 300px;
    width: 95%;
    margin: auto;
    background-color: rgb(216, 235, 235);
}


h1 {
    margin: 5px;
    background-color: rgb(7, 67, 77);
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 5px;
}

p {
    margin-top: 15px;
    font-size: 15px;
    margin-bottom: 25px;
    margin-right: 15px;
    margin-left: 15px;
}

h2 {
    margin: 5px;
    background-color: rgb(7, 67, 77);
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

.overline{
    text-decoration-line: overline;
    margin: 15px;
    color:rgb(10, 67, 77)
}

.Line-through{
    text-decoration-line: Line-through;
    margin: 15px;
    color:rgb(10, 67, 77)
}

.underline{
    text-decoration-line: underline;
    margin: 15px;
    color:rgb(10, 67, 77)
}

.ex{
    text-decoration-line: overline  underline;
    margin: 15px;
    color:rgb(10, 67, 77)
}

.overline:hover{
    font-size: 25px;
    text-decoration-line: overline;
    margin: 15px;
    color:rgb(10, 67, 77)
}

.Line-through:hover{
    font-size: 25px;
    text-decoration-line: Line-through;
    margin: 15px;
    color:rgb(10, 67, 77)
}

.underline:hover{
    font-size: 20px;
    text-decoration-line: underline;
    margin: 15px;
    color:rgb(10, 67, 77)
}

.ex:hover{
    font-size: 25px;
    text-decoration-line: overline  underline;
    margin: 15px;
    color:rgb(10, 67, 77)
}

.color1{
    color: rgb(41, 144, 132);
}

.color2{
    color: rgb(32, 105, 97);
}

.color3{
    color: rgb(72, 192, 178);
}

.color4{
    color: rgb(17, 96, 86);
}

.style1{
    text-decoration-style: wavy;
}

.style2{
    text-decoration-style: double;
}

.style3{
    text-decoration-style: dotted;
}

.style4{
    text-decoration-style: dashed;
}

.t1{
    text-decoration-thickness: 3px;
}

.t2{
    text-decoration-thickness: auto;
}

.t3{
    text-decoration-thickness: 3px;
}

.t4{
    text-decoration-thickness: 50%;
}