*{
    font-family:  Georgia, serif;
    font-weight: 500;
    color: rgb(15, 30, 57);
}

h1{
    background-color: rgb(15, 30, 57);
    color:white;
    text-align: center;
    margin: 10px;
}

p{
    color: rgb(73, 65, 110);
}

div{
    border: 2px solid rgb(15, 30, 57);
    width: 700px;
    margin: auto;
    padding: 5px;
    background-color: rgb(192, 209, 236);
}

p::First-Line{
    color: rgb(18, 9, 58);
    font-weight: 900;
}