body{
    margin: 0;
}

*{
    font-family:  Georgia, serif;
    font-weight: 500;
    color: rgb(15, 30, 57);
}

h1{
    background-color: rgb(15, 30, 57);
    color:white;
    text-align: center;
    margin: 10px;
}

p{
    color: rgb(73, 65, 110);
    padding: 5px;
}

.place{
    border: 2px solid black;
    height: 500px;
    margin: auto;
}

.form{
    width: 500px;
    margin: auto;
    border: 2px solid rgb(15, 30, 57);
    text-align: center;
    padding: 50px;
}

input:focus{
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid lightblue;
    color: rgb(15, 30, 57);
}