*{
    font-family:  Georgia, serif;
    font-weight: 500;
    color: rgb(57, 15, 39);
}

h1{
    background-color: rgb(49, 7, 34);
    color:white;
    text-align: center;
    margin: 10px;
}

p{
    color: rgb(0, 0, 0);
}

div{
    border: 2px solid rgb(65, 11, 51);
    width: 700px;
    margin: auto;
    padding: 5px;
    background-color: rgb(231, 225, 231);
}

p::selection{
    color: rgb(234, 213, 228);
    background-color: rgb(46, 10, 29);
    font-weight: 900;
}