* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.div {
    width: auto;
    height: 550px;
    position: relative;
    /* border: 1px solid black; */
}

.div .div-1 {
    width: 650px;
    height: 450px;
    float: left;
    margin: 50px;
}

.div .div-1 .img {
    width: 650px;
    height: 450px;
    padding: 0px;
    position: absolute;
    left: 10px;
    overflow: hidden;
    transition: 10s;
}

.div .div-1 .img img {
    width: 140%;
    height: 100%;
    position: absolute;
    left: -40%;
    filter: brightness(60%);
    /* background-size: auto; */
}

.div-1:hover .img img {
    left: 0;
}


.div .div-1 .div-text {
    width: 650px;
    height: 450px;
    padding: 0px;
    position: relative;
}

.div .div-1 .div-text .div-1-text {
    height: 100px;
    width: 330px;
    padding-top: 10px;
    font-size: 30px;
    letter-spacing: 8px;
    color: white;
    position: absolute;
    text-align: center;
    top: 160px;
    left: 250px;
    transition: 1s;
    /* border: 1px solid white; */
}

.div-1:hover .div-1-text {
    border: 10px solid white;
}

.div .div-2 {
    width: 650px;
    height: 450px;
    float: left;
    margin: 50px;
}

.div .div-2 .img {
    width: 650px;
    height: 450px;
    padding: 0px;
    position: absolute;
    right: 10px;
    overflow: hidden;
    transition: 2s;
}

.div .div-2 .img img {
    width: 140%;
    height: 100%;
    position: absolute;
    left: -40%;
    filter: brightness(60%);
    /* background-size: auto; */
}

.div-2:hover .img img {
    left: 0;
}

.div .div-2 .div-text {
    width: 650px;
    height: 450px;
    padding: 0px;
    position: relative;
}

.div .div-2 .div-text .div-2-text {
    height: 100px;
    width: 330px;
    padding-top: 10px;
    font-size: 30px;
    letter-spacing: 8px;
    color: white;
    text-align: center;
    position: absolute;
    top: 160px;
    right: -420px;
    transition: 1s;
}

.div-2:hover .div-2-text {
    border: 10px solid white;
}