h1{
    margin: 5px;
    padding: 12px;
    font-family: Georgia, serif;
    text-align: center;
    background-color: rgb(9, 45, 36);
    color: white;
}

p{
    padding: 5px;
    margin : 5px;
    color: rgb(9, 45, 36);
}

div + p {
    padding: 5px;
    margin : 5px;
    width: fit-content;
    background-color: rgb(122, 174, 161);
}

