body {
    margin: 0;
    padding: 0;
}

.linear {
    border: 2px solid black;
    height: 1750px;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(182, 182, 219);
}

h1 {
    background-color: rgb(17, 9, 52);
    color: white;
    text-align: center;
    margin: 2px;
    padding: 2px;
}

p {
    color: rgb(14, 6, 56);
    font-size: 18px;
}

u {
    font-size: 25px;
}

.lg1 {
    height: 200px;
    width: 200px;
    margin: auto;
    border: 2px solid black;
    border-radius: 5px 50px;
    background-image: repeating-linear-gradient(rgb(17, 6, 66), rgb(13, 15, 113) 10%, rgb(13, 16, 189) 20%);
    text-align: center;
    line-height: 200px;
}

.lg1:hover {
    height: 250px;
    width: 250px;
}

.image1 {
    height: 200px;
    width: 200px;
    margin: auto;
    border: 2px solid black;
    background-image: repeating-linear-gradient(45deg, indigo, blue 7%, aqua 10%);
    line-height: 200px;
    border-radius: 50px 5px;
    text-align: center;
}

.image1:hover {
    height: 250px;
    width: 250px;
}

.image2 {
    height: 200px;
    width: 200px;
    margin: auto;
    border: 2px solid black;
    background-image: repeating-linear-gradient(190deg,rgb(7, 47, 72),rgb(22, 73, 145) 7%,rgb(35, 127, 185) 10%);
    border-radius: 5px 50px;
    text-align: center;
    line-height: 200px;
}

.image2:hover {
    height: 250px;
    width: 250px;
}

.image3 {
    height: 200px;
    width: 200px;
    margin: auto;
    border: 2px solid black;
    background-image: repeating-linear-gradient(90deg,rgb(5, 44, 51),rgb(21, 106, 167) 7%,rgb(66, 157, 190) 10%);
    border-radius: 5px 50px;
}

.image3:hover {
    height: 250px;
    width: 250px;
}