* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #35252e;
}

.button {
  width: 10%;
  margin: 50px auto;
  text-align: center;
}

.button button {
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  background-color: #d9ced7;
  color: #3c0932;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.container {
  height: auto;
  width: 50%;
  margin: 50px auto;
  padding: 20px;
  background-color: whitesmoke;
}

.container label {
  padding: 5px;
  margin: 5px;
  font-size: 20px;
  color: #833c63;
}

.container input {
  padding: 5px;
  margin: 5px;
  font-size: 20px;
  color: #833c63;
}