.border{
    height: 2000px;
    width: 700px;
    border: 2px solid black;
    margin: auto;
    padding: 5px;
    background-color: rgb(246, 241, 235);
}

h1{
    background-color: rgb(59, 45, 7);
    color: white;
    text-align: center;
}

p{
    color: rgb(59, 45, 7);
}

ul{
    color: rgb(59, 45, 7);
}

.b1{
    height: 420px;
    border: 2px solid rgb(59, 45, 7);
    margin: 5px;
}

.br1{
    margin: auto;
    border-radius: 15px 50px 30px 5px;
    border: 2px solid rgb(59, 45, 7);
    height: 130px;
    width: 130px;
    background-color: rgb(212, 164, 33);
    text-align: center;
    padding: 20px;
    font-size: 100px;
    font-weight: 500px;
    border-width: thin medium thick 10px;
}

.br1:hover{
    height: 150px;
    width: 150px;
    font-weight: 900;
}

.b2{
    height: 420px;
    border: 2px solid rgb(59, 45, 7);
    margin: 5px;
}

.br2{
    margin: auto;
    border-radius: 15px 50px 30px;
    border: 2px solid rgb(59, 45, 7);
    height: 130px;
    width: 130px;
    background-color: rgb(212, 164, 33);
    text-align: center;
    padding: 20px;
    font-size: 100px;
    font-weight: 500px;
    border-width: thin medium thick;
}

.br2:hover{
    height: 150px;
    width: 150px;
    font-weight: 900;
}

.b3{
    height: 420px;
    border: 2px solid rgb(59, 45, 7);
    margin: 5px;
}

.br3{
    margin: auto;
    border-radius: 25px 50px;
    border: 2px solid rgb(59, 45, 7);
    height: 130px;
    width: 130px;
    background-color: rgb(212, 164, 33);
    text-align: center;
    padding: 20px;
    font-size: 100px;
    font-weight: 500px;
    border-width: thin medium;
}

.br3:hover{
    height: 150px;
    width: 150px;
    font-weight: 900;
}

.b4{
    height: 400px;
    border: 2px solid rgb(59, 45, 7);
    margin: 4px;
}

.br4{
    margin: auto;
    border-radius: 15px ;
    border-width: thin;
    height: 130px;
    width: 130px;
    background-color: rgb(212, 164, 33);
    text-align: center;
    padding: 20px;
    font-size: 100px;
    font-weight: 500px;
}

.br4:hover{
    border: 2px solid rgb(59, 45, 7);
    height: 150px;
    width: 150px;
    font-weight: 900;
}