.border{
    height: 1975px;
    border: 2px solid black;
    margin: auto;
    padding: 5px;
    background-color: rgb(246, 241, 235);
}

h1{
    background-color: rgb(59, 45, 7);
    color: white;
    text-align: center;
}

p{
    color: rgb(59, 45, 7);
}

ul{
    color: rgb(59, 45, 7);
}

.b1{
    height: 420px;
    border: 2px solid rgb(59, 45, 7);
    margin: 5px;
}

.br{
    margin: auto;
    border: 2px solid rgb(59, 45, 7);
    height: 130px;
    width: 130px;
    background-color: rgb(59, 45, 7);
    text-align: center;
    padding: 20px;
    font-size: 100px;
    font-weight: 500px;
    border-color: red blue green brown;
}

.br:hover{
    border-radius: 15px 50px 30px 5px;
    height: 150px;
    width: 150px;
    font-weight: 900; 
}

.b2{
    height: 420px;
    border: 2px solid rgb(59, 45, 7);
    margin: 5px;
}

#br2{
    border-radius: 15px 50px 30px;
}


.b3{
    height: 420px;
    border: 2px solid rgb(59, 45, 7);
    margin: 5px;
}

#br3{
    border-radius: 25px 50px;
}


.b4{
    height: 400px;
    border: 2px solid rgb(59, 45, 7);
    margin: 4px;
}

#br4{
    border-radius: 15px ;
}
