* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    box-sizing: border-box;
}

/* Header section */

.transprate-header {
    height: auto;
    width: auto;
    margin: auto;
    display: flex;
    color: white;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    background-color: transparent;
}

.header {
    height: auto;
    width: auto;
    margin: auto;
    display: flex;
    position: fixed;
    color: black;
    background-color: white;
    /* box-shadow: 2px 2px 2px gray; */
    /* border: 1px solid black; */
}

.header .logo {
    height: 65px;
    width: 25%;
    margin: 5px auto;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid black; */
}

.header .logo img {
    height: 60px;
    width: 60px;
}

.header .logo h2 {
    font-size: 35px;
    font-weight: 800;
    padding: 15px 10px;
    text-align: center;
}

.header .navbar {
    height: 65px;
    width: 70%;
    display: flex;
    margin: 5px auto;
    padding: 10px;
    font-weight: 700;
    /* border: 1px solid black; */
}

.header .navbar .navigation {
    height: 50px;
    margin: auto 5px;
    text-align: end;
    display: flex;
    justify-content: flex-end;
    justify-items: center;
    width: 50%;
    /* border: 1px solid black; */
}

.header .navbar .navigation a {
    height: 40px;
    font-size: 20px;
    padding: 10px;
    color: black;
    /* color: black; */
}

.header .navbar .navigation a:hover {
    color: #ffc845;
}

.header .navbar .navigation .parent {
    position: relative;
}

.header .navbar .navigation .child {
    width: auto;
    height: auto;
    position: absolute;
    top: 60px;
    left: -30px;
    display: none;
    z-index: 1;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
    /* border: 1px solid black; */
}

.header .navbar .navigation .child ul {
    height: auto;
    width: auto;
    /* border: 1px solid black; */
}

.header .navbar .navigation .child ul li {
    height: auto;
    width: 200px;
    text-align: center;
    padding: 5px 10px;
    list-style: none;
    /* border: 1px solid black; */
}

.header .navbar .navigation .parent:hover .child {
    display: block;
}

.header .navbar .input-search {
    height: 50px;
    width: 30%;
    margin: auto 5px;
    display: flex;
    position: relative;
    justify-content: flex-start;
}

.header .navbar .input-search input {
    height: 50px;
    width: 80%;
    padding: 10px;
    font-size: 20px;
    color: lightslategray;
    border-radius: 20px;
    border: 1px solid gray;
    background-color: transparent;
}

.header .navbar .input-search .fa-solid {
    height: 30px;
    width: 30px;
    font-size: 30px;
    margin: 10px;
    position: absolute;
    left: 200px;
    /* border: 1px solid black; */
}

.header .navbar .moon-icon {
    height: 50px;
    width: 10%;
    margin: auto 0px;
    display: flex;
    justify-content: flex-start;
    /* border: 1px solid black; */
}

.header .navbar .fa-moon {
    height: 40px;
    width: 40px;
    margin: 10px 0px;
    font-size: 30px;
    /* border: 1px solid black; */
}

.banner {
    height: 105vh;
    width: auto;
    margin: 10px auto;
    position: relative;
    /* border: 1px solid black; */
}

.banner video {
    height: auto;
    width: 100%;
    position: absolute;
    top: -75px;
    z-index: 0;
}

.banner .banner-content {
    height: auto;
    width: 100%;
    position: absolute;
    top: 75px;
    display: flex;
    /* align-items: start; */
}

.banner .banner-content .content {
    width: 1150px;
    height: 400px;
    margin: 250px 100px;
    /* border: 1px solid black; */
}

.banner .banner-content .content h4 {
    width: 550px;
    padding: 10px;
    height: 150px;
    color: white;
    font-size: 60px;
}

.banner .banner-content .content h4 span {
    display: block;
    margin-left: 150px;
}

.banner .banner-content .content p {
    color: white;
    padding: 10px;
    font-size: 20px;
    margin: 10px 500px 10px 10px;
    /* border: 1px solid black; */
}

.banner .banner-content .content a {
    display: inline-block;
    height: 50px;
    width: 150px;
    margin: 20px;
    font-size: 20px;
    color: white;
    padding: 15px 20px;
    border-radius: 30px;
    border: 1px solid gray;
}

.about-us {
    height: auto;
    width: auto;
    margin: 20px auto;
    display: flex;
    /* border: 1px solid black; */
}

.about-us .about {
    height: auto;
    width: 60%;
    /* padding: 0px 100px; */
    margin: auto;
    display: grid;
    grid-template-rows: repeat(2, 260px);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 10px;
    /* border: 1px solid black; */
}

.about-us .about .box {
    height: auto;
    width: auto;
    padding: 5px;
    /* border: 1px solid black; */
}

.about-us .about .b1 {
    height: auto;
    grid-area: 1 / 1 / span 2 / span 2;
    padding: 10px;
    padding-top: 100px;
}

.about-us .about .b1 h2 {
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
}

.about-us .about .b1 h2 .fa-mug-hot {
    font-size: 20px;
    padding: 5px;
}

.about-us .about .b1 h3 {
    font-size: 25px;
    padding: 5px;
    word-spacing: 5px;
}

.about-us .about .b1 p {
    font-style: italic;
    font-size: 20px;
    color: gray;
    padding: 10px;
}

.about-us .about .b1 img {
    margin-top: 10px;
    height: 100px;
    width: 120px;
}

.about-us .about .b2 {
    height: auto;
    grid-area: 1 / 3 / 2 / 4;
}


.about-us .about .b3 {
    height: auto;
    grid-area: 1 / 4 / 2 / 5;

}

.about-us .about .b4 {
    height: auto;
    grid-area: 2 / 3 / 3 / 4;
}

.about-us .about .b5 {
    height: auto;
    grid-area: 2 / 4 / 3 / 5;
}

.about-us .about .box i {
    font-size: 40px;
    padding: 5px;
}

.about-us .about .box h4 {
    font-size: 20px;
    padding: 5px;
    word-spacing: 5px;
}

.about-us .about .box p {
    font-size: 18px;
    padding: 10px;
    word-spacing: 3px;
    color: gray;
}

.banner-img {
    height: 700px;
    width: auto;
    background-image: url("https://wp.w3layouts.com/cafephile/wp-content/themes/cafephile/assets/images/bg2.jpg");
    position: relative;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.banner-img .text-box {
    height: inherit;
    width: 100%;
    border: 1px solid transparent;
}

.banner-img .text-box .text {
    height: auto;
    width: 40%;
    margin: 250px;
    /* border: 1px solid black; */
}

.banner-img .text-box .text h3 {
    font-size: 18px;
    color: white;
    padding: 5px;
}

.banner-img .text-box .text h3 .fa-solid {
    padding: 5px;
}


.banner-img .text-box .text h2 {
    font-size: 50px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    font-style: italic;
    word-spacing: 2px;
}

.banner-img .text-box .text .circle {
    height: 80px;
    width: 80px;
    margin: 15px;
    background-color: white;
    border-radius: 50%;
}

.banner-img .text-box .text .circle .fa-play {
    padding: 24px 30px;
    font-size: 30px;
    color: #fcc845;
}

.banner-img .text-box .text .circle:hover {
    height: 90px;
    width: 90px;
    transition: 1s;
    background-color: #ffc845;
}

.banner-img .text-box .text .circle:hover .fa-play {
    padding: 27px 33px;
    font-size: 35px;
    transition: 1s;
    color: white;
}

.banner-img .section-div {
    height: 500px;
    width: 1300px;
    margin: auto 300px;
    display: flex;
    padding: 5px;
    position: absolute;
    top: 500px;
    left: 80px;
    /* border: 1px solid gray; */
}

.banner-img .section-div .section {
    height: 500px;
    width: 410px;
    margin: auto;
    border-radius: 5px;
    background-color: white;
    box-shadow: 3px 3px 3px lightgray;
    border: 5px solid white;
}

.banner-img .section-div .section .img {
    border-radius: 10px;
}

.banner-img .section-div .section1 .img {
    height: 350px;
    width: 320px;
    background-image: url("https://wp.w3layouts.com/cafephile/wp-content/themes/cafephile/assets/images/a1.jpg");
    background-size: 100% 100%;
}

.banner-img .section-div .section2 .img {
    height: 350px;
    width: 320px;
    background-image: url("https://wp.w3layouts.com/cafephile/wp-content/themes/cafephile/assets/images/a2.jpg");
    background-size: 100% 100%;
}

.banner-img .section-div .section3 .img {
    height: 350px;
    width: 320px;
    background-image: url("https://wp.w3layouts.com/cafephile/wp-content/themes/cafephile/assets/images/a3.jpg");
    background-size: 100% 100%;
}

.banner-img .section-div .text {
    width: 370px;
    height: 200px;
}

.banner-img .section-div .text h1 {
    padding: 15px;
}

.coffee {
    height: 900px;
    width: 100%;
    display: flex;
    background-color: #eeeeee;
    /* border: 1px solid black; */
}

.coffee .img {
    height: 400px;
    width: 30%;
    background-image: url("https://wp.w3layouts.com/cafephile/wp-content/themes/cafephile/assets/images/ab1.jpg");
    background-size: 100% 100%;
    border-radius: 20px;
    position: relative;
    margin: 400px 20px auto auto;
    /* border: 1px solid black; */
}

.coffee .img .box {
    height: 230px;
    width: 230px;
    position: absolute;
    top: 130px;
    left: 300px;
    background-color: #0000007c;
    border-radius: 20px;
    transform: rotate(45deg);
    /* border: 1px solid black; */
}

.coffee .img .box:hover {
    height: 250px;
    width: 250px;
    top: 150px;
    left: 320px;
    transition: 1s;
}

.coffee .img .box h2 {
    font-size: 40px;
    color: white;
    padding: 50px 20px;
    text-align: center;
    transform: rotate(-45deg);
}

.coffee .information {
    height: 400px;
    width: 40%;
    margin: 400px auto auto 30px;
    /* border: 1px solid black; */
}

.coffee .information h5 {
    font-size: 20px;
    padding: 5px;
    font-weight: 500;
    word-spacing: 5px;
}

.coffee .information h3 {
    font-size: 40px;
    padding: 5px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    word-spacing: 5px;
}

.coffee .information h4 {
    font-size: 30px;
    padding: 10px;
    font-weight: 300;
    word-spacing: 5px;
}

.coffee .information p {
    font-size: 25px;
    padding: 10px;
    font-weight: 300;
    color: gray;
    word-spacing: 5px;
}

.menu {
    height: auto;
    width: 100%;
    margin: 10px auto;
    /* border: 1px solid black; */
}

.menu h1 {
    font-size: 40px;
    padding: 10px;
    text-align: center;
}

.menu h1:hover {
    font-size: 50px;
    transition: 1s;
}

.menu .box-container {
    height: auto;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    /* border: 1px solid black; */
}

.menu .box-container .box {
    height: 520px;
    width: 80%;
    padding: 10px;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    background-color: black;
    border: 5px solid #ebe7e7;
}

.menu .box-container .box:hover {
    height: 500px;
    width: 85%;
    transition: 1s;
    background-color: white;
    color: black;
}

.menu .box-container .box:hover .text {
    color: black;
}

.menu .box-container .box:hover .text .button {
    color: black;
}

.menu .box-container .box .img {
    height: 300px;
    width: 100%;
    margin: 10px auto;
    background-size: 100% 100%;
    /* border: 1px solid black; */
}

.menu .box-container .b1 .img {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrlro-d4krjDxTZAeDougS8dGZgrScq9wSig&usqp=CAU");
}

.menu .box-container .b2 .img {
    background-image: url("https://i.guim.co.uk/img/media/c13ada631e3167d90dd72afd0ec9c63d35872a4e/0_117_3500_2100/master/3500.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=16727ea83a8ac9550699097d3e1e5397");
}

.menu .box-container .b3 .img {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXCyLMrlOJ694Fa6O8D-0PDABNf-kkmrWMMUz48ZstC45fQkXie9vl4vS1irbUr1oOnGM&usqp=CAU");
}

.menu .box-container .b4 .img {
    background-image: url("https://www.livingnorth.com/images/media/articles/food-and-drink/eat-and-drink/coffee.png?fm=pjpg&w=1000&q=95");
}

.menu .box-container .b5 .img {
    background-image: url("https://media.istockphoto.com/id/505168330/photo/cup-of-cafe-latte-with-coffee-beans-and-cinnamon-sticks.jpg?s=612x612&w=0&k=20&c=h7v8kAfWOpRapv6hrDwmmB54DqrGQWxlhP_mTeqTQPA=");
}

.menu .box-container .b6 .img {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDzwUPV4MG_NUePSPIRHBQtW-xsDMp54ZrYj6mYhWE_lGXxKqB9Kiy34rt2FeLnfUBW2c&usqp=CAU");
}

.menu .box-container .box .text {
    width: 100%;
    height: 100px;
    color: white;
    margin: 10px auto;
    /* border: 1px solid black; */
}

.menu .box-container .box .text h3 {
    font-size: 25px;
    padding: 5px;
    text-align: center;
}

.menu .box-container .box .text .price {
    font-size: 23px;
    padding: 5px;
    text-align: center;
}

.menu .box-container .box .text .button {
    height: 60px;
    width: 150px;
    margin: 5px;
    color: white;
    font-weight: 800;
    display: inline-block;
    padding: 15px 20px;
    border-radius: 20px;
    border: 1px solid white;
}

.menu .box-container .box .text .button:hover {
    background-color: #ffc845;
    transition: 1s;
}

.review {
    height: 700px;
    width: auto;
    margin: 10px auto;
    background-image: url("https://wp.w3layouts.com/cafephile/wp-content/themes/cafephile/assets/images/bg1.jpg");
    background-size: 100% 100%;
    position: relative;
    /* border: 1px solid black; */
}

.review .coustmor {
    height: 550px;
    width: 70%;
    margin: auto;
    position: absolute;
    top: 100px;
    left: 200px;
    display: grid;
    grid-template-rows: repeat(2, 250px);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 10px;
    /* border: 1px solid white; */
}

.review .coustmor .coustmor-review {
    height: auto;
    width: auto;
    /* border: 1px solid white; */
}

.review .coustmor .cr-1 {
    grid-area: 1 / 1 / 2 / span 4;
    padding: 40px;
}

.review .coustmor .cr-1 h5 {
    height: 50px;
    width: auto;
    padding: 20px;
    font-size: 25px;
    font-weight: 500;
    color: white;
    word-spacing: 2px;
    text-align: center;
}

.review .coustmor .cr-1 h5 .fas {
    font-size: 40px;
}

.review .coustmor .cr-1 h3 {
    height: 50px;
    width: auto;
    padding: 20px;
    font-size: 45px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    word-spacing: 2px;
    text-align: center;
}

.review .coustmor .cr-2 {
    grid-area: 2 / 1 / 3 / 2;
}

.review .coustmor .cr-2 .img {
    height: 150px;
    width: 150px;
    margin: 0px 80px;
    border-radius: 50%;
    background-image: url("https://wp.w3layouts.com/cafephile/wp-content/themes/cafephile/assets/images/testi3.jpg");
    background-size: 100% 100%;
    /* border: 1px solid white; */
}

.review .coustmor .cr-2 .img:hover {
    height: 175px;
    width: 175px;
    transition: 1s;
    border: 5px solid white;
}

.review .coustmor .cr-2 .name {
    height: 70px;
    width: 200px;
    margin: auto;
    text-align: center;
    color: white;
    /* border: 1px solid black; */
}

.review .coustmor .cr-2 .name h3 {
    font-size: 25px;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.review .coustmor .cr-2 .name p {
    font-size: 20px;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.review .coustmor .cr-3 {
    grid-area: 2 / 2 / 3 / span 3;
    position: relative;
}

.review .coustmor .cr-3 .icon {
    height: auto;
    position: absolute;
    top: -30px;
    left: 8px;
    /* border: 1px solid white; */
}

.review .coustmor .cr-3 .icon .fa-quote-left {
    font-size: 80px;
    padding: 10px;
    color: #ffc845;
}

.review .coustmor .cr-3 blockquote {
    font-size: 25px;
    color: white;
    padding: 30px 50px;
    text-align: center;
}

.blogs {
    height: 500px;
    width: auto;
    margin: 0px auto;
    background-color: #ebe7e7;
    /* border: 1px solid black; */
}

.blogs .news {
    height: 450px;
    width: 70%;
    margin: 20px 350px;
    display: grid;
    grid-template-rows: repeat(2, 200px);
    grid-template-columns: repeat(4, 250px);
    gap: 10px 10px;
    /* border: 1px solid black; */
}

.blogs .news .container {
    height: auto;
    width: auto;
    /* border: 1px solid black; */
}

.blogs .news .c1 {
    grid-area: 1 / 1 / 2 / span 4;
    padding: 40px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 5px;
}

.blogs .news .c1 h5 {
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
}

.blogs .news .c1 h3 {
    font-size: 45px;
    padding: 10px;
    font-weight: 700;
}

.blogs .news .c2 {
    background-color: white;
    border-radius: 20px;
    grid-area: 2 / 1 / 3 / span 2;
}

.blogs .news .c3 {
    background-color: white;
    border-radius: 20px;
    grid-area: 2 / 3 / 3 / span 2;
}

.blogs .news .con-coffee h1 {
    height: 90px;
    padding: 30px;
    margin: 10px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /* border: 1px solid black; */
}

.blogs .news .con-coffee ul {
    height: 90px;
    padding: 30px;
    margin: 10px;
    font-size: 20px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /* border: 1px solid black; */
}

.blogs .news .con-coffee ul li {
    height: auto;
    width: auto;
    margin: auto;
    color: gray;
    list-style: none;
}

.fotter {
    height: 900px;
    width: 100%;
    position: relative;
}

.fotter .fotter-img{
    position: absolute;
    top: 0px;
    height: 900px;
    width: 130%;
}

.fotter .fotter-img img{
    height: 900px;
    width: 130%;
}

.fotter .main-fotter {
    height: 900px;
    width: 100%;
    position: absolute;
    top: 0px;
    background: #0e0a09a9;
    /* border: 1px solid white; */
}

.fotter .main-fotter .fotter1 {
    height: 500px;
    width: 90%;
    margin: 200px auto;
    /* border: 1px solid white; */
}

.fotter .main-fotter .fotter1 h3{
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 40px;
}

.fotter .main-fotter .fotter1 form{
    display: flex;
    margin: auto;
    height: 50px;
    width: 600px;
}

.fotter .main-fotter .fotter1 form input{
    height: 50px;
    width: 400px;
    padding: 20px;
    font-weight: 600;
    background-color: transparent;
    border: 2px solid #ffffff63;
    border-right: none;
    border-radius: 30px 0px 0px 30px;
}

.fotter .main-fotter .fotter1 form button{
    height: 50px;
    width: 200px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    background-color: #ffc845;
    border-radius: 0 30px 30px 0;
}

.fotter .main-fotter .fotter1 p{
    color: white;
    text-align: center;
    padding: 50px;
    font-weight: 400;
    font-size: 30px;
    word-spacing: 5px;
}

.fotter-2{
    height: 600px;
    width: 100%;
    margin: 10px auto;
    position: relative;
    background-image: url("https://t3.ftcdn.net/jpg/05/63/21/04/360_F_563210463_gbyQaoYkZmPbRRRVUorMwjV2pDgyjfcL.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.fotter-2 .box{
    height: 400px;
    width: 90%;
    margin: auto;
    position: absolute;
    top: 50px;
    left: 100px;
    display: flex;
    background-color: #8080806d;
    /* border: 2px solid white; */
}

.fotter-2 .box .div{
    height: 350px;
    width: 20%;
    margin: auto;
    /* border: 1px solid white; */
}

.fotter-2 .box .box-1 .logo{
    height: 40px;
    width: 300px;
    display: flex;
    margin: 5px;
    /* border: 1px solid white; */
}

.fotter-2 .box .box-1 .logo img{
    height: 40px;
    width: 40px;
}

.fotter-2 .box .box-1 .logo h2{
    width: 130px;
    height: 42px;
    font-weight: 900;
    padding: 10px;
    color: white;
}

.fotter-2 .box .box-1 p{
    margin-top: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    word-spacing: 2px;
    padding: 10px;
}

.fotter-2 .box .box-1 .icons{
    height: 40px;
    width: 300px;
    margin-top: 10px;
    /* border: 1px solid black; */
}

.fotter-2 .box .box-1 .icons ul{
    text-align: center;
    display: flex;
}
.fotter-2 .box .box-1 .icons ul li{
    list-style: none;
    padding: 10px;
}

.fotter-2 .box .box-2 ul{
    margin: 5px;
    padding: 10px;
}

.fotter-2 .box .box-2 ul li{
    list-style: none;
    text-align: center;
    padding: 10px;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.fotter-2 .box .box-3 h3{
    margin: 5px;
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 10px;
}

.fotter-2 .box .box-3 ul{
    margin: 5px;
    padding: 10px;
}

.fotter-2 .box .box-3 ul li{
    list-style: none;
    text-align: center;
    padding: 10px;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.fotter-2 .box .box-4 h3{
    margin: 5px;
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 10px;
}

.fotter-2 .box .box-4 ul{
    margin: 5px;
    padding: 10px;
}

.fotter-2 .box .box-4 ul li{
    list-style: none;
    padding: 10px;
    color: white;
    font-weight: 500;
    font-size: 18px;
}

.fotter-2 .box .box-4 ul li span{
    font-weight: 500;
    padding-left: 50px;
}

.fotter-2 .line{
    height: 50px;
    width: 90%;
    margin: auto;
    position: absolute;
    top: 500px;
    left: 100px;
    display: flex;
    background-color: #8080806d;
    /* border: 2px solid white; */
}

.fotter-2 .line p{
    color: white;
    text-align: center;
    padding-left: 500px;
    font-size: 18px;
    line-height: 50px;
}