<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rapid Fodder</title>
    <link rel="stylesheet" href="style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@500&family=Roboto:wght@300;500&display=swap');
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="./image/logo.png" type="image/x-icon">
</head>

<body>

    <!-- banner -->
    <div class="banner">

        <!-- header -->
        <div class="header">
            <div class="header-container">
                <div class="header-title">
                    <h2><span style="color: greenyellow;">R</span>apid <span style="color: greenyellow;">F</span>odder
                    </h2>
                </div>
                <div class="header-list">
                    <ul class="menu">
                        <li><a href="#" style="color: greenyellow;">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#menu">Menu</a></li>
                        <li><a href="#chef">Chefs</a></li>
                        <li><a href="#gallery">Gallery</a></li>
                        <li><a href="#contact-us">Contact us</a></li>
                    </ul>
                </div>
                <div class="header-login">
                    <i class="fa-solid fa-user-plus" style="color: #ffffff;"></i>
                    <br>
                    <h2><a href="login.html">sign-up</a></h2>
                </div>
            </div>
        </div>

        <!-- banner text -->
        <div class="banner-container">
            <h2>TASTE SOMETHING <span style="color: greenyellow;">NEW</span></h2>
            <h3>DELICIOUS RECIPES</h3>
            <p>DISCOVER OUR RESTAURANT</p>
        </div>
    </div>

    <!-- about us -->
    <div class="about" id="about">
        <div class="about-container">
            <div class="about-info">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident ratione quia dignissimos aperiam
                    ullam explicabo rerum architecto quos eligendi recusandae doloremque amet nihil asperiores expedita
                    consequatur animi perferendis necessitatibus blanditiis eos, ut autem aut. Sapiente, aut. Dolorem
                    laborum hic facilis alias libero tenetur corporis eaque doloribus nulla. Magnam assumenda deleniti
                    obcaecati ratione impedit culpa nemo reiciendis veritatis, dolor maiores eius accusantium rerum
                    praesentium veniam aut tempore, unde similique, laborum nobis. Vitae maiores cumque inventore
                    debitis iste unde, praesentium eum quasi rem quis. Rerum, sunt iste quos error fuga ratione optio
                    nihil, soluta quis expedita omnis magnam! Neque cupiditate repellendus distinctio! </p>
            </div>
            <div class="about-img">
                <div class="img"></div>
                <div class="box">
                    <h1><span style="color: greenyellow;">A</span>bout us</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- Services -->
    <div class="services">
        <div class="services-banner">
            <div class="container">
                <div class="container-text">
                    <h1>OUR SERVICES</h1>
                </div>
                <div class="container-box">
                    <div class="box box-1">
                        <div class="service-box">
                            <img src="./image/menu.png" alt="">
                        </div>
                        <div class="service-text">
                            <h3>MENU</h3>
                        </div>
                    </div>
                    <div class="box box-2">
                        <div class="service-box">
                            <img src="./image/reservation.png" alt="">
                        </div>
                        <div class="service-text">
                            <h3>RESERVATION</h3>
                        </div>
                    </div>
                    <div class="box box-3">
                        <div class="service-box">
                            <img src="./image/RECIPES.png" alt="">
                        </div>
                        <div class="service-text">
                            <h3>FINE RECIPES</h3>
                        </div>
                    </div>
                    <div class="box box-4">
                        <div class="service-box">
                            <img src="./image/recipe.png" alt="">
                        </div>
                        <div class="service-text">
                            <h3>SPICY RECIPES</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- DELICIOUS MENU -->
    <div class="menu" id="menu">
        <div class="menu-container">
            <div class="menu-title">
                <h1>DELICIOUS MENU</h1>
            </div>
            <div class="menu-list">
                <ul class="menulist">
                    <li style="background-color: greenyellow; "><a href="#" style="color: white;">BREAKFAST</a></li>
                    <li><a href="#">LUNCH</a></li>
                    <li><a href="#">DINNER</a></li>
                    <li><a href="#">DRINK</a></li>
                </ul>
            </div>
            <div class="menu-items">
                <div class="menu-box menu-box-1">
                    <div class="menu-img-1 menu-img"></div>
                    <div class="menu-name">
                        <h5>Lorem, ipsum dolor......</h5>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="menu-prise">
                        <h5>$50</h5>
                    </div>
                </div>
                <div class="menu-box menu-box-2">
                    <div class="menu-img-2 menu-img"></div>
                    <div class="menu-name">
                        <h5>Lorem, ipsum dolor......</h5>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="menu-prise">
                        <h5>$40</h5>
                    </div>
                </div>
                <div class="menu-box menu-box-3">
                    <div class="menu-img-3 menu-img"></div>
                    <div class="menu-name">
                        <h5>Lorem, ipsum dolor......</h5>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="menu-prise">
                        <h5>$70</h5>
                    </div>
                </div>
                <div class="menu-box menu-box-4">
                    <div class="menu-img-4 menu-img"></div>
                    <div class="menu-name">
                        <h5>Lorem, ipsum dolor......</h5>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="menu-prise">
                        <h5>$60</h5>
                    </div>
                </div>
                <div class="menu-box menu-box-5">
                    <div class="menu-img-5 menu-img"></div>
                    <div class="menu-name">
                        <h5>Lorem, ipsum dolor......</h5>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="menu-prise">
                        <h5>$75</h5>
                    </div>
                </div>
                <div class="menu-box menu-box-6">
                    <div class="menu-img-6 menu-img"></div>
                    <div class="menu-name">
                        <h5>Lorem, ipsum dolor......</h5>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="menu-prise">
                        <h5>$25</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- OUR CHEFS -->
    <div class="chefs" id="chef">
        <h1>OUR CHEFS</h1>
        <div class="chefs-container">
            <div class="chef-1 chef">
                <div class="chef-1-img chef-img">
                    <div class="chef-box">
                        <div class="chef-name">JAYE SMITH</div>
                        <div class="social-media">
                            <div class="icon">
                                <div class="icon-1 icons"><i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
                                </div>
                                <div class="icon-2 icons"><i class="fa-brands fa-square-instagram"
                                        style="color: #ffffff;"></i></div>
                                <div class="icon-3 icons"><i class="fa-brands fa-facebook-f"
                                        style="color: #ffffff;"></i>
                                </div>
                                <div class="icon-4 icons"><i class="fa-brands fa-dribbble" style="color: #ffffff;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chef-2 chef">
                <div class="chef-2-img chef-img">
                    <div class="chef-box">
                        <div class="chef-name">CHRISTOPHER</div>
                        <div class="social-media">
                            <div class="icon">
                                <div class="icon-1 icons"><i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
                                </div>
                                <div class="icon-2 icons"><i class="fa-brands fa-square-instagram"
                                        style="color: #ffffff;"></i></div>
                                <div class="icon-3 icons"><i class="fa-brands fa-facebook-f"
                                        style="color: #ffffff;"></i>
                                </div>
                                <div class="icon-4 icons"><i class="fa-brands fa-dribbble" style="color: #ffffff;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chef-3 chef">
                <div class="chef-3-img chef-img">
                    <div class="chef-box">
                        <div class="chef-name">ALLEN SMITH</div>
                        <div class="social-media">
                            <div class="icon">
                                <div class="icon-1 icons"><i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
                                </div>
                                <div class="icon-2 icons"><i class="fa-brands fa-square-instagram"
                                        style="color: #ffffff;"></i></div>
                                <div class="icon-3 icons"><i class="fa-brands fa-facebook-f"
                                        style="color: #ffffff;"></i>
                                </div>
                                <div class="icon-4 icons"><i class="fa-brands fa-dribbble" style="color: #ffffff;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chef-4 chef">
                <div class="chef-4-img chef-img">
                    <div class="chef-box">
                        <div class="chef-name">JOHN SMITH</div>
                        <div class="social-media">
                            <div class="icon">
                                <div class="icon-1 icons"><i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
                                </div>
                                <div class="icon-2 icons"><i class="fa-brands fa-square-instagram"
                                        style="color: #ffffff;"></i></div>
                                <div class="icon-3 icons"><i class="fa-brands fa-facebook-f"
                                        style="color: #ffffff;"></i>
                                </div>
                                <div class="icon-4 icons"><i class="fa-brands fa-dribbble" style="color: #ffffff;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="count">
        <div class="count-container">
            <h4>Don't Miss</h4>
            <h3>UPCOMING <span style="color: greenyellow;">EVENTS</span></h3>
            <div class="counter">
                <div class="days counters">
                    <h2>15<span>DAYS</span></h2>
                </div>
                <div class="hours counters">
                    <h2>15<span>HOURS</span></h2>
                </div>
                <div class="mins counters">
                    <h2>15<span>MINUTES</span></h2>
                </div>
                <div class="sec counters">
                    <h2>15<span>SECONDS</span></h2>
                </div>
            </div>
        </div>
    </div>

    <!-- our gallery -->
    <div class="gallery" id="gallery">
        <h1>OUR GALLERY</h1>
        <div class="gallery-container">
            <div class="gallery-img gallery-img-1">
                <!-- <img src="./image/g1.jpg" alt="" height="100%" width="100%"> -->
            </div>
            <div class="gallery-img gallery-img-2">
                <!-- <img src="./image/g2.jpg" alt="" height="100%" width="100%"> -->
            </div>
            <div class="gallery-img gallery-img-3">
                <!-- <img src="./image/g3.jpg" alt="" height="100%" width="100%"> -->
            </div>
            <div class="gallery-img gallery-img-4">
                <!-- <img src="./image/g4.jpg" alt="" height="100%" width="100%"> -->
            </div>
            <div class="gallery-img gallery-img-5">
                <!-- <img src="./image/g5.jpg" alt="" height="100%" width="100%"> -->
            </div>
            <div class="gallery-img gallery-img-6">
                <!-- <img src="./image/g6.jpg" alt="" height="100%" width="100%"> -->
            </div>
            <div class="gallery-img gallery-img-7">
                <!-- <img src="./image/g7.jpg" alt="" height="100%" width="100%"> -->
            </div>
            <div class="gallery-img gallery-img-8">
                <!-- <img src="./image/g8.jpg" alt="" height="100%" width="100%"> -->
            </div>
            <div class="gallery-img gallery-img-9">
                <!-- <img src="./image/g2.jpg" alt="" height="100%" width="100%"> -->
            </div>
        </div>
    </div>

    <!-- BOOK YOUR TABLE -->
    <div class="table">
        <h1>BOOK YOUR TABLE</h1>
        <div class="table-container">
            <div class="table-img-1 table-content">
                <div class="table-details">
                    <h2 style="color: white;">Noodles <br> <span style="color: #72ab1e;">$60</span></h2>
                </div>
                <div class="table-book">
                    <h3>Book now</h3>
                </div>
            </div>

            <div class="table-form table-content">
                    <form action="" method="post">
                        <div class="name-text">
                            <label for="fnm">FULL NAME :</label>
                            <div class="name-info">
                                <i class="fa-solid fa-user"></i>
                                <input type="text" placeholder="Name" required class="input">
                            </div>
                        </div>

                        <div class="name-text">
                            <label for="mail">Email :</label>
                            <div class="name-info">
                                <i class="fa-solid fa-envelope"></i>
                                <input type="email" placeholder="E-mail" required class="input">
                            </div>
                        </div>

                        <div class="name-text">
                            <label for="no">PHONE NO :</label>
                            <div class="name-info">
                                <i class="fa-solid fa-envelope"></i>
                                <input type="tel" placeholder="Phone no" required class="input">
                            </div>
                        </div>

                        <div class="name-text">
                            <label for="add">ADDRESS :</label>
                            <div class="name-info">
                                <i class="fa-solid fa-envelope"></i>
                                <input type="textarea" placeholder="your Address" required class="input">
                            </div>
                        </div>

                        <div class="boxs box1">
                            <label for="date">DATE :</label>
                            <div class="date-info">
                                <i class="fa-solid fa-calendar-days"></i>
                                <input type="date" name="" id="" required>
                            </div>
                        </div>

                        <div class="boxs box2">
                            <label for="time">TIME :</label>
                            <div class="date-info">
                                <i class="fa-solid fa-clock"></i>
                                <select name="time" id="" placeholder="lunch">
                                    <option value="">Lunch</option>
                                    <option value="">Dinner</option>
                                    <option value="">Break-Fast</option>
                                </select>
                            </div>
                        </div>

                        <div class="boxs box3">
                            <label for="nop">NO OF PEOPLE :</label>
                            <div class="date-info">
                                <i class="fa-solid fa-users"></i>
                                <select name="time" id="" placeholder="more">
                                    <option value="">more</option>
                                    <option value="">1 people</option>
                                    <option value="">2 people</option>
                                    <option value="">3 people</option>
                                    <option value="">4 people</option>
                                </select>
                            </div>
                        </div>

                        <center><button>Submit</button></center>
                    </form>
            </div>

            <div class="table-img-2 table-content">
                <div class="table-details">
                    <h2>Cold-drinks <br> <span style="color: #72ab1e;">$20</span></h2>
                </div>
                <div class="table-book">
                    <h3>Book now</h3>
                </div>
            </div>
        </div>
    </div>

    <!-- contact us -->
    <div class="contact" id="contact-us">
        <h1>CONTACT US </h1>
        <div class="contact-container">
            <div class="contact-map container-child">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387194.0622623648!2d-74.3093271116249!3d40.69701928803442!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sin!4v1693800111736!5m2!1sen!2sin"
                    width="100%" height="600px" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="contact-form container-child">
                <div class="form-img">
                    <img src="./image/g4.jpg" alt="" height="600px" width="100%">
                </div>
                <div class="form">
                    <center>
                        <form action="" method="post">
                            <h1>Get in touch</h1>

                            <label for="name">Name :-</label>
                            <input type="text" required class="name_mail input" style="color: aliceblue;">
                            <br>

                            <label for="email">E-mail :-</label>
                            <input type="email" required class="name_mail input" style="color: aliceblue;">

                            <br>
                            <label for="tel">phone no :-</label>
                            <input type="tel" required minlength="10" maxlength="10" class="tele input"
                                style="color: aliceblue;">

                            <br>
                            <label for="sub">subject :-</label>
                            <input type="textarea" required class="msg input" style="color: aliceblue;">
                            <button type="submit">Submit</button>
                        </form>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="footer">
        <div class="footer-container">
            <div class="footer-parent">
                <div class="child-1 footer-child">
                    <div class="contact-us subchild">
                        <h4>CONTACT <span>US</span></h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, nihil.</p>
                        <h6>New York City</h6>
                        <h6>40019 Bronx,Morris Park</h6>
                        <h6>Telephone : +1 (734) 123-4567</h6>
                        <h6>Email : info(at)example.com</h6>
                    </div>
                    <div class="opening-time subchild">
                        <h4>OPENING <span>HOURS</span></h4>
                        <ul>
                            <li>
                                <i class="fa-regular fa-clock"></i>
                                <div class="week">Monday</div>
                                <div class="time">09 am - 10 pm</div>
                            </li>
                            <li>
                                <i class="fa-regular fa-clock"></i>
                                <div class="week">Tuesday</div>
                                <div class="time">09 am - 10 pm</div>
                            </li>
                            <li>
                                <i class="fa-regular fa-clock"></i>
                                <div class="week">Wednesday</div>
                                <div class="time">09 am - 10 pm</div>
                            </li>
                            <li>
                                <i class="fa-regular fa-clock"></i>
                                <div class="week">Thursday</div>
                                <div class="time">09 am - 10 pm</div>
                            </li>
                            <li>
                                <i class="fa-regular fa-clock"></i>
                                <div class="week">friday</div>
                                <div class="time">11 am - 8 pm</div>
                            </li>
                            <li>
                                <i class="fa-regular fa-clock"></i>
                                <div class="week">Saturday</div>
                                <div class="time">10 am - 11 pm</div>
                            </li>
                            <li>
                                <i class="fa-regular fa-clock"></i>
                                <div class="week">Sunday</div>
                                <div class="time">closed</div>
                            </li>
                        </ul>
                    </div>
                    <div class="post subchild ">
                        <h4>OUR <span>INSTAGRAM</span></h4>
                        <div class="post-container">
                            <div class="post1 post"></div>
                            <div class="post2 post"></div>
                            <div class="post3 post"></div>
                            <div class="post4 post"></div>
                            <div class="post5 post"></div>
                            <div class="post6 post"></div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="child-2 footer-child">
                    <div class="connect subchild">
                        <h4>CONTACT WITH US</h4>
                        <ul>
                            <li class="l1"><i class="fa-brands fa-facebook-f"></i></li>
                            <li class="l2"><i class="fa-brands fa-twitter"></i></li>
                            <li class="l3"><i class="fa-brands fa-pinterest-p"></i></li>
                            <li class="l4"><i class="fa-brands fa-dribbble"></i></li>
                            <li class="l5"><i class="fa-brands fa-google-plus-g"></i></li>
                        </ul>
                    </div>
                    <div class="newsletter subchild">
                        <h4>NEWSLETTER</h4>
                        <form action="#" method="post" class="newsletter-name">
                            <input class="email" type="email" placeholder="Your email address..." required="">
                            <button class="submit"><i class="fa-solid fa-envelope"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>