* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: black;
}

.container .content {
    height: auto;
    width: 50%;
    margin: auto;
    padding: 23% 0px 0% 0px;
    text-align: center;
    color: white;
    font-size: 50px;
    /* border: 1px solid whitesmoke; */
}

.container .box {
    height: auto;
    width: 25%;
    margin: auto;
    /* display: flex; */
    position: relative;
    padding: 0px 0px 24% 0px;

}

.container .box .btn {
    height: auto;
    width: 100%;
    margin: auto;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    background-color: white;
    box-shadow: 0px 0px 3px gray;
    border: 1px solid white;
}

.container .box #btn-1 {
    position: absolute;
}

.container .box #btn-2 {
    display: none;
}
