body {
    margin: 0;
}

.repeat {
    border: 2px solid rgb(4, 4, 47);
    background-color: rgb(242, 243, 244);
    height: 3700px;
    margin: 2.5px;
}

h1 {
    margin: 5px;
    background-color: rgb(6, 35, 42);
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 5px;
    text-shadow: 5px 5px 5px rgb(151, 151, 181);
}

p {
    margin-top: 15px;
    font-size: 30px;
    margin-bottom: 25px;
    margin-right: 15px;
    margin-left: 15px;
    font-weight: 500;
}

.example {
    text-align: center;
    background-repeat: no-repeat;
    margin: auto;
    border: 25px ridge rgba(11, 83, 99, 0.311);
    background-image: url('../../../image/nature-3.jpg');
    width: 650px;
    height: 450px;
    font-size: 45px;
    color: white;
    padding: 25px;
}

b {
    font-size: 45px;
    text-align: center;
}


#img1 {
    background-repeat: repeat;
}

#img1:hover {
    height: 500px;
    width: 700px;
}

#img2 {
    background-repeat: repeat-x;
}

#img2:hover {
    height: 500px;
    width: 700px;
}

#img3 {
    background-repeat: repeat-y;
}

#img3:hover {
    height: 500px;
    width: 700px;
}


#img4 {

    background-repeat: no-repeat;
}

#img4:hover {
    height: 500px;
    width: 700px;
}

b:hover {
    font-size: 50px;
}