*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(214, 219, 234);
}

.container{
    height: auto;
    width: 100%;
}

.container h1 {
    margin: 5px;
    background-color: rgb(10, 12, 52);
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 5px;
    text-shadow: 5px 5px 5px rgb(82, 86, 150);
}

.container p {
    margin: 15px 15px 25px 15px;
    font-size: 25px;
    font-weight: 500;
}

.container ol{
    margin: 10px 15px 25px 15px;
    padding: 0px 100px;
}

.container ol li{
    /* list-style: none; */
    font-size: 25px;
    text-transform: capitalize;
    padding: 2px;
    font-weight: 600;
}

.container .info{
    width: 90%;
    margin: auto;
}

.container dl dt{
    padding: 5px;
    font-weight: 800;
    font-size: 40px;
}

.container dl dd{
    padding: 5px;
    font-weight: 500;
    font-size: 30px;
}

.container .example{
    height: auto;
    padding: 20px;
    margin: 10px 100px ;
    width: auto;
    box-shadow: 2px 2px 2px #0a0c34;
}

.container .example h5{
    width: 80%;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 5px;
    margin: 0px 35px 15px;
    background-color: #0a0c34;
}

.container .example pre{
    color: black;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    margin: 0px 5px 5px;
}