.form-container {
    height: auto;
    width: 95%;
    margin: auto;
    padding: 20px;
}

.form-container .form {
    height: auto;
    width: 95%;
    margin: auto;
    padding: 20px;
}