body {
    margin: 0;
}

.fixed {
    border: 2px solid rgb(51, 5, 30);
    background-image: url('../../../image/fixed.jpg');
    height: 2000px;
    margin: 2.5px;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    margin: 5px;
    background-color: rgb(42, 6, 32);
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 5px;
    text-shadow: 5px 5px 5px rgb(151, 151, 181);
}

p {
    margin-top: 15px;
    font-size: 30px;
    margin-bottom: 25px;
    margin-right: 15px;
    margin-left: 15px;
    font-weight: 500;
}