* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading {
    padding: 10px;
    color: white;
    margin: 5px;
    background-color: #09323c;
    text-align: center;
}

.heading h1 {
    font-size: 40px;
}

.answer {
    padding: 10px;
    font-size: 35px;
}

.example {
    height: auto;
    padding: 20px;
    margin: 10px 100px;
    width: auto;
    box-shadow: 2px 2px 2px #09323c;
}

.example h5 {
    width: 80%;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 5px;
    margin: 0px 35px 15px;
    background-color: #09323c;
}

.example pre {
    color: black;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    margin: 0px 5px 5px;
}

.example .span {
    background-color: #09323c;
    color: white;
    font-size: 20px;
    margin-left: 600px;
    display: inline-block;
    width: 200px;
    height: 40px;
    text-align: center;
    padding: 10px;
}

.example #btn{
    padding: 10px 20px;
    font-size: 20px;
    margin: 5px;
    font-weight: 700;
    background-color: #ced7d9;
    color: #09323c;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.slider-container {
    width: auto;
    height: auto;
    margin :auto;
    padding: 50px;
}

#hero {
    height: 550px;
    width: 50%;
    margin: auto;
}

#hero img {
    height: 100%;
    width: 100%;
}