div{
    height: 310px;
    border: 4px inset rgb(166, 20, 98);
}


div > h1{
    background-color: rgb(70, 7, 41);
    color: white;
    text-align: center;
    margin: 5px;
}

h1:hover{
    font-weight: 900;
    font-size: 50px;
}

div > p{
    height: 100px;
    width: 75%;
    margin: auto;
    color: rgb(70, 7, 41);
    font-size: 25px;
}