*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: auto;
    width: 10%;
    padding: 5px;
    margin: 25% auto;
}

.container select{
    width: 100%;
    padding: 5px 10px;
    font-weight: 800;
    background-color: #d9d2d6;
    /* color: darkslategrey; */
}
