@media (max-width:1250px) and (min-width:750px) {

    .main-container {
        height: 1300px;
    }

    /* header section */

    .main-container .header .header-container .header-menu {
        display: none;
    }

    .main-container .header .header-container .bar-menu {
        display: block;
    }

    /* banner section */

    .main-container .banner .banner-container .save-upto .get .save {
        display: none;
    }

    .main-container .banner .banner-container .save-upto .get {
        width: 100%;
    }

    /* overview section */

    .main-container .overview {
        height: 600px;
        position: absolute;
        top: 45%;
        left: 20%;
        /* border: 1px solid black; */
    }
    
    .main-container .overview .overview-container {
        height: 600px;
        width: 80%;
        margin: auto;
    }


    /* companies section */

    .company .company-container {
        width: 100%;
        display: flex;
    }

    .company .company-container .companies {
        height: 50px;
        width: 18%;
    }

    .timeline .timeline-container .timeline-img {
        width: 100%;
    }

    .timeline .timeline-container .timeline-list {
        width: 100%;
    }

    .timeline .timeline-container .timeline-list ul li:nth-child(1) {
        border-left: none;
        border-bottom: 10px solid #794cff;
    }

    .work-container .work {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }

    .work-container .work .work-box-1 {
        grid-area: 1 / 1 / span 2 / span 12;
    }

    .work-container .work .work-box-2 {
        grid-area: 3 / 1 / span 2 / span 12;
    }

    .work-container .work .work-box-3 {
        grid-area: 5 / 1 / span 2 / span 12;
    }

    .work-container .work .work-box-4 {
        grid-area: 7 / 1 / span 2 / span 12;
    }

    .work-container .work .work-box-5 {
        grid-area: 9 / 1 / span 2 / span 12;
    }

    .work-container .work .work-box-6 {
        grid-area: 11 / 1 / span 2 / span 12;
    }

    .project .project-container .project-img {
        width: 100%;
    }

    .project .project-container .project-content {
        width: 100%;
    }

    .customer-container .customer .customer-title {
        width: 90%;
    }

    .customer-container .customer .customer-content {
        width: 90%;
    }

    .customer-container .customer .customer-review ul li:nth-child(1) {
        width: 100%;
        padding: 20px;
    }

    .customer-container .customer .customer-review ul li:nth-child(2) {
        display: none;
    }

    .customer-container .customer .customer-review ul li:nth-child(3) {
        display: none;
    }

    .app-container .app .app-content {
        width: 90%;
        padding: 0;
        font-size: 32px;
    }

    .app-container .app .app-playstore {
        width: 40%;
    }

    .app-container .app .app-store {
        width: 40%;
    }

    .footer-container .footer .upper-footer ul {
        display: block;
        width: 90%;
    }

    .footer-container .footer .upper-footer ul h4 {
        font-size: 22px;
        padding: 10px;
        width: 100%;
        position: relative;
    }

    .footer-container .footer .upper-footer ul h4 .fa-solid {
        display: inline;
        position: absolute;
        right: 0%;
    }

    .footer-container .footer .upper-footer ul:nth-child(1) li {
        display: none;
    }

    .footer-container .footer .upper-footer ul:nth-child(2) li {
        display: none;
    }

    .footer-container .footer .upper-footer ul:nth-child(3) li {
        display: none;
    }

    .footer-container .footer .upper-footer ul:nth-child(4) {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-container .footer .upper-footer ul:nth-child(4) li {
        width: 40%;
        margin: auto;
    }

    .footer-container .footer .bottom-footer .div-1 {
        width: 80%;
    }

    .footer-container .footer .bottom-footer .div-2 {
        display: none;
    }
}