@media (max-width:750px) and (min-width:350px) {

    .main-container {
        height: 1400px;
    }

    /* header */

    .main-container .header .header-container .header-menu {
        display: none;
    }

    .main-container .header .header-container .bar-menu {
        display: block;
    }

    .main-container .banner .banner-container .save-upto {
        width: 40%;
    }

    .main-container .banner .banner-container .save-upto .get {
        width: 100%;
        text-align: center;
    }

    .main-container .banner .banner-container .save-upto .get .save {
        display: none;
    }

    /* banner */

    .main-container .banner .banner-container .banner-content {
        height: auto;
        width: 90%;
        margin: 10px auto;
        /* border: 1px solid black; */
    }

    .main-container .banner .banner-container .banner-content h1 {
        width: 90%;
        height: auto;
        font-size: 40px;
        /* border: 1px solid black; */
    }

    .main-container .banner .banner-container .banner-content h4 {
        width: 80%;
        height: auto;
        font-size: 16px;
        /* border: 1px solid black; */
    }

    .main-container .banner .banner-container .input-container {
        width: 60%;
        height: 120px;
        display: block;
        /* border: 1px solid black; */
    }

    .main-container .banner .banner-container .input-container .box-1 {
        height: 50px;
        width: 90%;
        margin: 5px auto;
    }

    .main-container .banner .banner-container .input-container .box-1 input {
        width: 100%;
        padding-left: 50px;
    }

    .main-container .banner .banner-container .input-container .box-2 {
        height: 50px;
        width: 90%;
        margin: 5px auto;
    }

    /* overview section */

    .main-container .overview {
        width: 100%;
        position: absolute;
        top: 45%;
        left: 0;
        padding: 0;
        /* border: 1px solid black; */
    }

    .main-container .overview .overview-container {
        width: 100%;
        margin: auto;
    }

    /* companies section */

    .company .company-container {
        width: 100%;
        display: flex;
    }

    .company .company-container .companies {
        height: 50px;
        width: 15%;
    }

    .company .company-container .company-5 {
        display: none;
    }

    /* timeline section */

    .timeline .timeline-container .timeline-img {
        width: 100%;
    }

    .timeline .timeline-container .timeline-list {
        width: 100%;
    }

    .timeline .timeline-container .timeline-list ul{
        width: 90%;
    }

    .timeline .timeline-container .timeline-list ul li {
        width: 100%;
    }

    .timeline .timeline-container .timeline-list ul li:nth-child(1) {
        border-left: none;
        border-bottom: 10px solid #794cff;
    }

    /* work section */

    .work-container .benefits {
        width: 60%;
        padding: 20px;
        display: block;
    }

    .work-container .work {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .work-container .work .work-box-1 {
        margin-left: 15%;
        grid-area: 1 / 1 / span 2 / span 12;
    }

    .work-container .work .work-box-2 {
        margin-left: 15%;
        grid-area: 3 / 1 / span 2 / span 12;
    }

    .work-container .work .work-box-3 {
        margin-left: 15%;
        grid-area: 5 / 1 / span 2 / span 12;
    }

    .work-container .work .work-box-4 {
        display: none;
    }

    .work-container .work .work-box-5 {
        display: none;
    }

    .work-container .work .work-box-6 {
        display: none;
    }


    /*  project section */
    .project .project-container .project-img {
        width: 100%;
    }

    .project .project-container .project-content {
        height: auto;
        width: 100%;
    }

    .project .project-container .project-content .title {
        width: 80%;
        text-align: center;
        line-height: 35px;
        font-size: 20px;
        margin: auto;
        padding: 10px;
    }

    .project .project-container .project-content .content {
        width: 95%;
        padding: 10px;
    }

    .project .project-container .project-content .button {
        width: 70%;
    }

    /* customer section */

    .customer-container .customer .customer-title {
        width: 90%;
    }

    .customer-container .customer .customer-content {
        width: 90%;
    }

    .customer-container .customer .customer-review ul li:nth-child(1) {
        width: 100%;
        padding: 20px;
    }

    .customer-container .customer .customer-review ul li:nth-child(2) {
        display: none;
    }

    .customer-container .customer .customer-review ul li:nth-child(3) {
        display: none;
    }

    /* application section */

    .app-container .app{
        display: block;
    }

    .app-container .app .app-content {
        width: 90%;
        padding: 0;
        font-size: 25px;
        padding: 5px;
        margin: 10px auto;
    }

    .app-container .app .app-playstore {
        width: 40%;
    }

    .app-container .app .app-store {
        width: 40%;
    }

    /* footer section */

    .footer-container .footer .upper-footer ul {
        display: block;
        width: 90%;
    }

    .footer-container .footer .upper-footer ul h4 {
        font-size: 22px;
        padding: 10px;
        width: 100%;
        position: relative;
    }

    .footer-container .footer .upper-footer ul h4 .fa-solid {
        display: inline;
        position: absolute;
        right: 0%;
    }

    .footer-container .footer .upper-footer ul:nth-child(1) li {
        display: none;
    }

    .footer-container .footer .upper-footer ul:nth-child(2) li {
        display: none;
    }

    .footer-container .footer .upper-footer ul:nth-child(3) li {
        display: none;
    }

    .footer-container .footer .bottom-footer .div-1 {
        width: 80%;
    }

    .footer-container .footer .bottom-footer .div-2 {
        display: none;
    }
}
