* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(214, 219, 234);
}

.container {
    height: auto;
    width: 100%;
}

h1 {
    margin: 5px;
    background-color: rgb(10, 12, 52);
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 5px;
    text-shadow: 5px 5px 5px rgb(82, 86, 150);
}

p {
    margin-top: 15px;
    font-size: 25px;
    margin-bottom: 25px;
    margin-right: 15px;
    margin-left: 15px;
    font-weight: 500;
}

.container .example {
    height: auto;
    padding: 20px;
    margin: 10px 100px;
    width: auto;
    box-shadow: 2px 2px 2px #0a0c34;
}

.container .example h5 {
    width: 80%;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 5px;
    margin: 0px 35px 15px;
    background-color: #0a0c34;
}

.container .example pre {
    color: black;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    margin: 0px 5px 5px;
}

.container .example .span {
    background-color: #0a0c34;
    color: white;
    font-size: 20px;
    margin-left: 600px;
    display: inline-block;
    width: 200px;
    height: 40px;
    text-align: center;
    padding: 10px;
}