* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div {
    height: auto;
    margin: 10px auto;
    width: 70%;
    box-shadow: 3px 3px 2px #15736e;
    border: 1px solid #0e4745;
}

.div h1 {
    height: 30px;
    width: 90%;
    margin: 5px auto;
    font-size: 25px;
    text-align: center;
    color: white;
    background-color: #0e4745;
}

.div table {
    margin: 30px;
    border: none;
    border-collapse: collapse;
}

.div table th{
    color: white;
    background-color: #113938;
}

.div table .line-1 {
    border: none;
    padding: 5px;
    width: 2%;
}

.div table .line-2 {
    border: none;
    padding: 5px;
    width: 45%;
}

.div table td{
    border: none;
    padding: 5px;
    text-align: left;
}

.div table .odd{
    background-color: lightgray;
}

.div table .even{
    background-color: #92aba9;
}