.position{
    height: 2400px;
    margin: auto;
    background-image : linear-gradient(to left , white , #61b3ad);
    border: 2px solid teal;
    border-radius: 20px;
    width: 100%;
}

h1{
    margin: 5px 15px;
    padding: 5px;
    color: white;
    text-align: center;
    border-radius: 10px;
    background-color: #164f46;
}

.pos1{
    display: flex;
    height: 300px;
    width: 900px;
    margin: auto;
    border: 2px solid teal;
}

.img1{
    height: 230px;
    width: 270px;
    margin: auto;
    border: 2px solid teal;
    background-image: url(../../image/slider-5.gif);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: auto;
    text-align:center;
    font-weight: 900;
}

.img1:hover{
    width: 250px;
    height: 250px;
    font-size: 25px;
}

.img2{
    height: 230px;
    width: 270px;
    margin: auto;
    border: 2px solid teal;
    background-image: url(../../image/slider-5.gif);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto;
    text-align:center;
    font-weight: 900;
}

.img2:hover{
    width: 250px;
    height: 250px;
    font-size: 25px;
}

.img3{
    height: 230px;
    width: 270px;
    margin: auto;
    border: 2px solid teal;
    background-image: url(../../image/slider-5.gif);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto;
    text-align:center;
    font-weight: 900;
}

.img3:hover{
    width: 250px;
    height: 250px;
    font-size: 25px;
}

.pos2{
    display: flex;
    display: flex;
    height: 300px;
    width: 800px;
    margin: auto;
    border: 2px solid teal;
}
.img4{
    height: 220px;
    width: 230px;
    margin: auto;
    border: 2px solid teal;
    background-image: url(../../image/slider-6.gif);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto;
    text-align:center;
    font-weight: 900;
}

.img4:hover{
    width: 250px;
    font-size: 25px;
    height: 250px;
}

.img5{
    height: 220px;
    width: 230px;
    margin: auto;
    border: 2px solid teal;
    background-image: url(../../image/slider-6.gif);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: auto;
    text-align:center;
    font-weight: 900;
}

.img5:hover{
    width: 250px;
    height: 250px;
    font-size: 25px;
}

.img6{
    height: 220px;
    width: 230px;
    margin: auto;
    border: 2px solid teal;
    background-image: url(../../image/slider-6.gif);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: auto;
    text-align:center;
    font-weight: 900;
}

.img6:hover{
    width: 250px;
    height: 250px;
    font-size: 25px;
}

.pos3{
    height: 300px;
    width: 350px;
    margin: auto;
    border: 2px solid teal;
    background-position: 50% 50%; 
    background-repeat: no-repeat;
    background-image: url(../../image/slider-7.gif);
    background-size: auto;
    text-align:center;
    font-weight: 900;
}

.pos3:hover{
    width: 400px;
    height: 350px;
    font-size: 25px;
}

.pos4{
    height: 250px;
    width: 350px;
    margin: auto;
    border: 2px solid teal;
    background-position: 15px 15px; 
    background-repeat: no-repeat;
    background-image: url(../../image/slider-8.gif);
    background-size: auto;
    text-align:center;
    font-weight: 900;
}

.pos4:hover{
    width: 400px;
    height: 300px;
    font-size: 25px;
}

.pos5{
    display: flex;
    height: 300px;
    width: 1000px;
    margin: auto;
    border: 2px solid teal;
}

.img7{
    height: 230px;
    width: 300px;
    margin: auto;
    border: 2px solid teal;
    background-image: url(../../image/slider-9.gif);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: auto;
    text-align:center;
    font-weight: 900;
}


.img7:hover{
    width: 320px;
    height: 250px;
    font-size: 25px;
}

.img8{
    height: 230px;
    width: 300px;
    margin: auto;
    border: 2px solid teal;
    background-image: url(../../image/slider-9.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
    text-align:center;
    font-weight: 900;
}

.img8:hover{
    width: 320px;
    font-size: 25px;
    height: 250px;
}

.img9{
    height: 230px;
    width: 300px;
    margin: auto;
    border: 2px solid teal;
    background-image: url(../../image/slider-9.gif);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: auto;
    text-align:center;
    font-weight: 900;
}

.img9:hover{
    width: 320px;
    height: 250px;
    font-size: 25px;
}